openapi: 3.0.1
info:
  contact:
    email: support@cloudsmith.io
    name: Cloudsmith Support
    url: https://help.cloudsmith.io
  description: The API to the Cloudsmith Service
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://help.cloudsmith.io/docs/terms-and-conditions
  title: Cloudsmith API
  version: 1.121.3
externalDocs:
  description: Find out more info at the Cloudsmith Help Website
  url: https://help.cloudsmith.io
servers:
- url: https://api.cloudsmith.io/v1
paths:
  /audit-log/{owner}/:
    get:
      description: Lists audit log entries for a specific namespace.
      operationId: audit-log_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: A search term for querying events, actors, or timestamps of log
          records.
        in: query
        name: query
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/NamespaceAuditLog'
                title: NamespaceAuditLogList
                type: array
          description: Retrieved the list of audit log entries
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Lists audit log entries for a specific namespace.
      tags:
      - audit-log
  /audit-log/{owner}/{repo}/:
    get:
      description: Lists audit log entries for a specific repository.
      operationId: audit-log_list_0
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: A search term for querying events, actors, or timestamps of log
          records.
        in: query
        name: query
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/RepositoryAuditLog'
                title: RepositoryAuditLogList
                type: array
          description: Retrieved the list of audit log entries
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Lists audit log entries for a specific repository.
      tags:
      - audit-log
  /badges/version/{owner}/{repo}/{package_format}/{package_name}/{package_version}/{package_identifiers}/:
    get:
      description: Get latest package version for a package or package group.
      operationId: badges_version_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: package_format
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        required: true
        schema:
          type: string
      - in: path
        name: package_version
        required: true
        schema:
          type: string
      - in: path
        name: package_identifiers
        required: true
        schema:
          type: string
      - description: Badge token to authenticate for private packages
        in: query
        name: badge_token
        schema:
          type: string
      - description: Override the shields.io badge cacheSeconds value.
        in: query
        name: cacheSeconds
        schema:
          type: string
      - description: Override the shields.io badge color value.
        in: query
        name: color
        schema:
          type: string
      - description: Override the shields.io badge label value.
        in: query
        name: label
        schema:
          type: string
      - description: Override the shields.io badge labelColor value.
        in: query
        name: labelColor
        schema:
          type: string
      - description: Override the shields.io badge logoColor value.
        in: query
        name: logoColor
        schema:
          type: string
      - description: Override the shields.io badge logoWidth value.
        in: query
        name: logoWidth
        schema:
          type: string
      - description: If true, badge will be rendered
        in: query
        name: render
        schema:
          type: boolean
      - description: If true, a shields response will be generated
        in: query
        name: shields
        schema:
          type: boolean
      - description: If true, for latest version badges a '(latest)' suffix is added
        in: query
        name: show_latest
        schema:
          type: boolean
      - description: Override the shields.io badge style value.
        in: query
        name: style
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get latest package version for a package or package group.
      tags:
      - badges
  /distros/:
    get:
      description: Get a list of all supported distributions.
      operationId: distros_list
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Distribution'
                title: DistributionList
                type: array
          description: Available package formats retrieved
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a list of all supported distributions.
      tags:
      - distros
  /distros/{slug}/:
    get:
      description: View for viewing/listing distributions.
      operationId: distros_read
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Distribution'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: View for viewing/listing distributions.
      tags:
      - distros
  /entitlements/{owner}/{repo}/:
    get:
      description: Get a list of all entitlements in a repository.
      operationId: entitlements_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/RepositoryToken'
                title: RepositoryTokenList
                type: array
          description: Retrieved the list of entitlement tokens
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Owner namespace or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a list of all entitlements in a repository.
      tags:
      - entitlements
    post:
      description: Create a specific entitlement in a repository.
      operationId: entitlements_create
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          type: boolean
      requestBody:
        $ref: '#/components/requestBodies/EntitlementsCreate'
        content:
          application/json:
            schema:
              example:
                limit_date_range_to: limit_date_range_to
                metadata: '{}'
                is_active: true
                limit_bandwidth_unit: Byte
                scheduled_reset_at: scheduled_reset_at
                limit_bandwidth: 0
                limit_num_clients: 6
                limit_package_query: limit_package_query
                limit_path_query: limit_path_query
                token: token
                name: name
                limit_date_range_from: limit_date_range_from
                limit_num_downloads: 1
                eula_required: true
                scheduled_reset_period: Never Reset
              properties:
                eula_required:
                  description: If checked, a EULA acceptance is required for this
                    token.
                  type: boolean
                is_active:
                  description: If enabled, the token will allow downloads based on
                    configured restrictions (if any).
                  type: boolean
                limit_bandwidth:
                  description: 'The maximum download bandwidth allowed for the token.
                    Values are expressed as the selected unit of bandwidth. Please
                    note that since downloads are calculated asynchronously (after
                    the download happens), the limit may not be imposed immediately
                    but at a later point. '
                  type: integer
                limit_bandwidth_unit:
                  description: None
                  enum:
                  - Byte
                  - Kilobyte
                  - Megabyte
                  - Gigabyte
                  - Terabyte
                  - Petabyte
                  - Exabyte
                  - Zettabyte
                  - Yottabyte
                  type: string
                limit_date_range_from:
                  description: The starting date/time the token is allowed to be used
                    from.
                  type: string
                limit_date_range_to:
                  description: The ending date/time the token is allowed to be used
                    until.
                  type: string
                limit_num_clients:
                  description: The maximum number of unique clients allowed for the
                    token. Please note that since clients are calculated asynchronously
                    (after the download happens), the limit may not be imposed immediately
                    but at a later point.
                  type: integer
                limit_num_downloads:
                  description: The maximum number of downloads allowed for the token.
                    Please note that since downloads are calculated asynchronously
                    (after the download happens), the limit may not be imposed immediately
                    but at a later point.
                  type: integer
                limit_package_query:
                  description: The package-based search query to apply to restrict
                    downloads to. This uses the same syntax as the standard search
                    used for repositories, and also supports boolean logic operators
                    such as OR/AND/NOT and parentheses for grouping. This will still
                    allow access to non-package files, such as metadata.
                  type: string
                limit_path_query:
                  description: The path-based search query to apply to restrict downloads
                    to. This supports boolean logic operators such as OR/AND/NOT and
                    parentheses for grouping. The path evaluated does not include
                    the domain name, the namespace, the entitlement code used, the
                    package format, etc. and it always starts with a forward slash.
                  type: string
                metadata:
                  description: None
                  properties: {}
                  type: object
                name:
                  description: None
                  type: string
                scheduled_reset_at:
                  description: The time at which the scheduled reset period has elapsed
                    and the token limits were automatically reset to zero.
                  type: string
                scheduled_reset_period:
                  description: None
                  enum:
                  - Never Reset
                  - Daily
                  - Weekly
                  - Fortnightly
                  - Monthly
                  - Bi-Monthly
                  - Quarterly
                  - Every 6 months
                  - Annual
                  type: string
                token:
                  description: None
                  type: string
              required:
              - name
              title: EntitlementsCreate
              type: object
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepositoryToken'
          description: Created the specified entitlement
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Owner namespace or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a specific entitlement in a repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/sync/:
    post:
      description: Synchronise tokens from a source repository.
      operationId: entitlements_sync
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          type: boolean
      requestBody:
        $ref: '#/components/requestBodies/EntitlementsSync'
        content:
          application/json:
            schema:
              example:
                source: source
              properties:
                source:
                  description: The source repository slug (in the same owner namespace).
                  type: string
              required:
              - source
              title: EntitlementsSync
              type: object
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepositoryTokenSync'
          description: The tokens have been synchronised from the source repository
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Owner namespace or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Synchronise tokens from a source repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/{identifier}/:
    delete:
      description: Delete a specific entitlement in a repository.
      operationId: entitlements_delete
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Soft-deleted the specified entitlement token successfully
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The entitlement cannot be deleted
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Delete a specific entitlement in a repository.
      tags:
      - entitlements
    get:
      description: Get a specific entitlement in a repository.
      operationId: entitlements_read
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepositoryToken'
          description: Retrieved the specified entitlement
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Owner namespace or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a specific entitlement in a repository.
      tags:
      - entitlements
    patch:
      description: Update a specific entitlement in a repository.
      operationId: entitlements_partial_update
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          type: boolean
      requestBody:
        $ref: '#/components/requestBodies/EntitlementsPartialUpdate'
        content:
          application/json:
            schema:
              example:
                limit_date_range_to: limit_date_range_to
                metadata: '{}'
                is_active: true
                limit_bandwidth_unit: Byte
                scheduled_reset_at: scheduled_reset_at
                limit_bandwidth: 0
                limit_num_clients: 6
                limit_package_query: limit_package_query
                limit_path_query: limit_path_query
                token: token
                name: name
                limit_date_range_from: limit_date_range_from
                limit_num_downloads: 1
                eula_required: true
                scheduled_reset_period: Never Reset
              properties:
                eula_required:
                  description: If checked, a EULA acceptance is required for this
                    token.
                  type: boolean
                is_active:
                  description: If enabled, the token will allow downloads based on
                    configured restrictions (if any).
                  type: boolean
                limit_bandwidth:
                  description: 'The maximum download bandwidth allowed for the token.
                    Values are expressed as the selected unit of bandwidth. Please
                    note that since downloads are calculated asynchronously (after
                    the download happens), the limit may not be imposed immediately
                    but at a later point. '
                  type: integer
                limit_bandwidth_unit:
                  description: None
                  enum:
                  - Byte
                  - Kilobyte
                  - Megabyte
                  - Gigabyte
                  - Terabyte
                  - Petabyte
                  - Exabyte
                  - Zettabyte
                  - Yottabyte
                  type: string
                limit_date_range_from:
                  description: The starting date/time the token is allowed to be used
                    from.
                  type: string
                limit_date_range_to:
                  description: The ending date/time the token is allowed to be used
                    until.
                  type: string
                limit_num_clients:
                  description: The maximum number of unique clients allowed for the
                    token. Please note that since clients are calculated asynchronously
                    (after the download happens), the limit may not be imposed immediately
                    but at a later point.
                  type: integer
                limit_num_downloads:
                  description: The maximum number of downloads allowed for the token.
                    Please note that since downloads are calculated asynchronously
                    (after the download happens), the limit may not be imposed immediately
                    but at a later point.
                  type: integer
                limit_package_query:
                  description: The package-based search query to apply to restrict
                    downloads to. This uses the same syntax as the standard search
                    used for repositories, and also supports boolean logic operators
                    such as OR/AND/NOT and parentheses for grouping. This will still
                    allow access to non-package files, such as metadata.
                  type: string
                limit_path_query:
                  description: The path-based search query to apply to restrict downloads
                    to. This supports boolean logic operators such as OR/AND/NOT and
                    parentheses for grouping. The path evaluated does not include
                    the domain name, the namespace, the entitlement code used, the
                    package format, etc. and it always starts with a forward slash.
                  type: string
                metadata:
                  description: None
                  properties: {}
                  type: object
                name:
                  description: None
                  type: string
                scheduled_reset_at:
                  description: The time at which the scheduled reset period has elapsed
                    and the token limits were automatically reset to zero.
                  type: string
                scheduled_reset_period:
                  description: None
                  enum:
                  - Never Reset
                  - Daily
                  - Weekly
                  - Fortnightly
                  - Monthly
                  - Bi-Monthly
                  - Quarterly
                  - Every 6 months
                  - Annual
                  type: string
                token:
                  description: None
                  type: string
              title: EntitlementsPartialUpdate
              type: object
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepositoryToken'
          description: Updated the specified entitlement
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The entitlement cannot be edited
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Owner namespace or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Update a specific entitlement in a repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/{identifier}/disable/:
    post:
      description: Disable an entitlement token in a repository.
      operationId: entitlements_disable
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The entitlement token has been disabled
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Disable an entitlement token in a repository.
      tags:
      - entitlements
  /entitlements/{owner}/{repo}/{identifier}/enable/:
    post:
      description: Enable an entitlement token in a repository.
      operationId: entitlements_enable
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The entitlement token has been enabled
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Enable an entitlement token in a repository.
      tags:
      - entitlements
  /entitlements/{owner}/{repo}/{identifier}/refresh/:
    post:
      description: Refresh an entitlement token in a repository.
      operationId: entitlements_refresh
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          type: boolean
      requestBody:
        $ref: '#/components/requestBodies/EntitlementsRefresh'
        content:
          application/json:
            schema:
              example:
                limit_date_range_to: limit_date_range_to
                metadata: '{}'
                is_active: true
                limit_bandwidth_unit: Byte
                scheduled_reset_at: scheduled_reset_at
                limit_bandwidth: 0
                limit_num_clients: 6
                limit_package_query: limit_package_query
                limit_path_query: limit_path_query
                token: token
                limit_date_range_from: limit_date_range_from
                limit_num_downloads: 1
                eula_required: true
                scheduled_reset_period: Never Reset
              properties:
                eula_required:
                  description: If checked, a EULA acceptance is required for this
                    token.
                  type: boolean
                is_active:
                  description: If enabled, the token will allow downloads based on
                    configured restrictions (if any).
                  type: boolean
                limit_bandwidth:
                  description: 'The maximum download bandwidth allowed for the token.
                    Values are expressed as the selected unit of bandwidth. Please
                    note that since downloads are calculated asynchronously (after
                    the download happens), the limit may not be imposed immediately
                    but at a later point. '
                  type: integer
                limit_bandwidth_unit:
                  description: None
                  enum:
                  - Byte
                  - Kilobyte
                  - Megabyte
                  - Gigabyte
                  - Terabyte
                  - Petabyte
                  - Exabyte
                  - Zettabyte
                  - Yottabyte
                  type: string
                limit_date_range_from:
                  description: The starting date/time the token is allowed to be used
                    from.
                  type: string
                limit_date_range_to:
                  description: The ending date/time the token is allowed to be used
                    until.
                  type: string
                limit_num_clients:
                  description: The maximum number of unique clients allowed for the
                    token. Please note that since clients are calculated asynchronously
                    (after the download happens), the limit may not be imposed immediately
                    but at a later point.
                  type: integer
                limit_num_downloads:
                  description: The maximum number of downloads allowed for the token.
                    Please note that since downloads are calculated asynchronously
                    (after the download happens), the limit may not be imposed immediately
                    but at a later point.
                  type: integer
                limit_package_query:
                  description: The package-based search query to apply to restrict
                    downloads to. This uses the same syntax as the standard search
                    used for repositories, and also supports boolean logic operators
                    such as OR/AND/NOT and parentheses for grouping. This will still
                    allow access to non-package files, such as metadata.
                  type: string
                limit_path_query:
                  description: The path-based search query to apply to restrict downloads
                    to. This supports boolean logic operators such as OR/AND/NOT and
                    parentheses for grouping. The path evaluated does not include
                    the domain name, the namespace, the entitlement code used, the
                    package format, etc. and it always starts with a forward slash.
                  type: string
                metadata:
                  description: None
                  properties: {}
                  type: object
                scheduled_reset_at:
                  description: The time at which the scheduled reset period has elapsed
                    and the token limits were automatically reset to zero.
                  type: string
                scheduled_reset_period:
                  description: None
                  enum:
                  - Never Reset
                  - Daily
                  - Weekly
                  - Fortnightly
                  - Monthly
                  - Bi-Monthly
                  - Quarterly
                  - Every 6 months
                  - Annual
                  type: string
                token:
                  description: None
                  type: string
              title: EntitlementsRefresh
              type: object
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepositoryTokenRefresh'
          description: The entitlement token has been refreshed
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Refresh an entitlement token in a repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/{identifier}/reset/:
    post:
      description: Reset the statistics for an entitlement token in a repository.
      operationId: entitlements_reset
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          type: boolean
      responses:
        "204":
          content: {}
          description: The entitlement token statistics have been reset
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Reset the statistics for an entitlement token in a repository.
      tags:
      - entitlements
  /files/{owner}/{repo}/:
    post:
      description: Request URL(s) to upload new package file upload(s) to.
      operationId: files_create
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/FilesCreate'
        content:
          application/json:
            schema:
              example:
                sha256_checksum: sha256_checksum
                filename: filename
                method: put_parts
                md5_checksum: md5_checksum
              properties:
                filename:
                  description: Filename for the package file upload.
                  type: string
                md5_checksum:
                  description: MD5 checksum for a POST-based package file upload.
                  type: string
                method:
                  description: The method to use for package file upload.
                  enum:
                  - put_parts
                  - put
                  - post
                  - presigned
                  - unsigned_put
                  type: string
                sha256_checksum:
                  description: SHA256 checksum for a PUT-based package file upload.
                  type: string
              required:
              - filename
              title: FilesCreate
              type: object
        required: false
      responses:
        "202":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PackageFileUpload'
          description: The upload request was accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Request URL(s) to upload new package file upload(s) to.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/validate/:
    post:
      description: Validate parameters used for create.
      operationId: files_validate
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/FilesValidate'
        content:
          application/json:
            schema:
              example:
                sha256_checksum: sha256_checksum
                filename: filename
                method: put_parts
                md5_checksum: md5_checksum
              properties:
                filename:
                  description: Filename for the package file upload.
                  type: string
                md5_checksum:
                  description: MD5 checksum for a POST-based package file upload.
                  type: string
                method:
                  description: The method to use for package file upload.
                  enum:
                  - put_parts
                  - put
                  - post
                  - presigned
                  - unsigned_put
                  type: string
                sha256_checksum:
                  description: SHA256 checksum for a PUT-based package file upload.
                  type: string
              required:
              - filename
              title: FilesValidate
              type: object
        required: false
      responses:
        "204":
          content: {}
          description: Validation was successful, parameters are OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Validate parameters used for create.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/{identifier}/abort/:
    post:
      description: Abort a multipart file upload.
      operationId: files_abort
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/FilesAbort'
        content:
          application/json:
            schema:
              example:
                sha256_checksum: sha256_checksum
                filename: filename
                method: put_parts
                md5_checksum: md5_checksum
              properties:
                filename:
                  description: Filename for the package file upload.
                  type: string
                md5_checksum:
                  description: MD5 checksum for a POST-based package file upload.
                  type: string
                method:
                  description: The method to use for package file upload.
                  enum:
                  - put_parts
                  - put
                  - post
                  - presigned
                  - unsigned_put
                  type: string
                sha256_checksum:
                  description: SHA256 checksum for a PUT-based package file upload.
                  type: string
              required:
              - filename
              title: FilesAbort
              type: object
        required: false
      responses:
        "204":
          content: {}
          description: The multipart upload was aborted successfully
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The multipart upload could not be aborted
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner), repository or upload file not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Abort a multipart file upload.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/{identifier}/complete/:
    post:
      description: Complete a multipart file upload.
      operationId: files_complete
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/FilesComplete'
        content:
          application/json:
            schema:
              example:
                sha256_checksum: sha256_checksum
                filename: filename
                method: put_parts
                md5_checksum: md5_checksum
              properties:
                filename:
                  description: Filename for the package file upload.
                  type: string
                md5_checksum:
                  description: MD5 checksum for a POST-based package file upload.
                  type: string
                method:
                  description: The method to use for package file upload.
                  enum:
                  - put_parts
                  - put
                  - post
                  - presigned
                  - unsigned_put
                  type: string
                sha256_checksum:
                  description: SHA256 checksum for a PUT-based package file upload.
                  type: string
              required:
              - filename
              title: FilesComplete
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PackageFileUpload'
          description: The multipart upload was completed successfully
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The multipart upload could not be completed
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner), repository or upload file not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Complete a multipart file upload.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/{identifier}/info/:
    get:
      description: Get upload information to perform a multipart file upload.
      operationId: files_info
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: The filename of the file being uploaded
        in: query
        name: filename
        required: true
        schema:
          type: string
      - description: The part number to be uploaded next
        in: query
        name: part_number
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PackageFilePartsUpload'
          description: Information for multipart uploaded retrieved successfully
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The provided upload file was not a multipart upload
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner), repository or upload file not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get upload information to perform a multipart file upload.
      tags:
      - files
  /formats/:
    get:
      description: Get a list of all supported package formats.
      operationId: formats_list
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Format'
                title: FormatList
                type: array
          description: Available package formats retrieved
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a list of all supported package formats.
      tags:
      - formats
  /formats/{slug}/:
    get:
      description: Get a specific supported package format.
      operationId: formats_read
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Format'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a specific supported package format.
      tags:
      - formats
  /metrics/entitlements/{owner}/:
    get:
      description: View for listing entitlement token metrics, across an account.
      operationId: metrics_entitlements_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Include metrics upto and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: finish
        schema:
          type: string
      - description: Include metrics from and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: start
        schema:
          type: string
      - description: A comma seperated list of tokens (slug perm) to include in the
          results.
        in: query
        name: tokens
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntitlementUsageMetrics'
          description: Retrieved the metrics for entitlements
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: View for listing entitlement token metrics, across an account.
      tags:
      - metrics
  /metrics/entitlements/{owner}/{repo}/:
    get:
      description: View for listing entitlement token metrics, for a repository.
      operationId: metrics_entitlements_list_0
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Include metrics upto and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: finish
        schema:
          type: string
      - description: Include metrics from and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: start
        schema:
          type: string
      - description: A comma seperated list of tokens (slug perm) to include in the
          results.
        in: query
        name: tokens
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntitlementUsageMetrics'
          description: Retrieved the metrics for entitlements
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: View for listing entitlement token metrics, for a repository.
      tags:
      - metrics
  /metrics/packages/{owner}/{repo}/:
    get:
      description: View for listing package usage metrics, for a repository.
      operationId: metrics_packages_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Include metrics upto and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: finish
        schema:
          type: string
      - description: A comma seperated list of packages (slug perm) to include in
          the results.
        in: query
        name: packages
        schema:
          type: string
      - description: Include metrics from and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: start
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PackageUsageMetrics'
          description: Retrieved the metrics for packages
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: View for listing package usage metrics, for a repository.
      tags:
      - metrics
  /namespaces/:
    get:
      description: Get a list of all namespaces the user belongs to.
      operationId: namespaces_list
      parameters:
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Namespace'
                title: NamespaceList
                type: array
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a list of all namespaces the user belongs to.
      tags:
      - namespaces
  /namespaces/{slug}/:
    get:
      description: Views for working with namespaces.
      operationId: namespaces_read
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Namespace'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Views for working with namespaces.
      tags:
      - namespaces
  /orgs/:
    get:
      description: Get a list of all the organizations you are associated with.
      operationId: orgs_list
      parameters:
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Organization'
                title: OrganizationList
                type: array
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a list of all the organizations you are associated with.
      tags:
      - orgs
  /orgs/{org}/:
    get:
      description: Get the details for the specific organization.
      operationId: orgs_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Organization'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get the details for the specific organization.
      tags:
      - orgs
  /orgs/{org}/invites/:
    get:
      description: Get a list of all invites for an organization.
      operationId: orgs_invites_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationInvite'
                title: OrganizationInviteList
                type: array
          description: Retrieved the list of organization invites
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Organization invites not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a list of all invites for an organization.
      tags:
      - orgs
    post:
      description: Create an organization invite for a specific user
      operationId: orgs_invites_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/OrgsInvitesCreate'
        content:
          application/json:
            schema:
              example:
                role: Owner
                inviter: inviter
                slug_perm: slug_perm
                user: user
                email: email
              properties:
                email:
                  description: None
                  type: string
                inviter:
                  description: None
                  type: string
                role:
                  description: None
                  enum:
                  - Owner
                  - Manager
                  - Member
                  - Collaborator
                  type: string
                slug_perm:
                  description: None
                  type: string
                user:
                  description: None
                  type: string
              title: OrgsInvitesCreate
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationInvite'
          description: Invite sent
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The invite cannot be created
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create an organization invite for a specific user
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/invites/{slug_perm}/:
    delete:
      description: Delete a specific organization invite
      operationId: orgs_invites_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted the organization invite successfully
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The organization invite cannot be deleted
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Delete a specific organization invite
      tags:
      - orgs
  /orgs/{org}/invites/{slug_perm}/extend/:
    post:
      description: Extend an organization invite.
      operationId: orgs_invites_extend
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/OrgsInvitesExtend'
        content:
          application/json:
            schema:
              example:
                role: Owner
                inviter: inviter
                user: user
                email: email
              properties:
                email:
                  description: None
                  type: string
                inviter:
                  description: None
                  type: string
                role:
                  description: None
                  enum:
                  - Owner
                  - Manager
                  - Member
                  - Collaborator
                  type: string
                user:
                  description: None
                  type: string
              title: OrgsInvitesExtend
              type: object
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationInviteExtend'
          description: The invite has been extended
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Extend an organization invite.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/members/:
    get:
      description: Get the details for all organization members.
      operationId: orgs_members_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationMembership'
                title: OrganizationMembershipList
                type: array
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get the details for all organization members.
      tags:
      - orgs
  /orgs/{org}/members/{member}/:
    get:
      description: Get the details for a specific organization member.
      operationId: orgs_members_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: member
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get the details for a specific organization member.
      tags:
      - orgs
  /orgs/{org}/members/{member}/remove/:
    get:
      description: Removes a member from the organization.
      operationId: orgs_members_remove
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: member
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Removes a member from the organization.
      tags:
      - orgs
  /orgs/{org}/saml-group-sync/:
    get:
      description: Get the details of all SAML Group Sync mapping within an organization.
      operationId: orgs_saml-group-sync_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationGroupSync'
                title: OrganizationGroupSyncList
                type: array
          description: Retrived the list of all SAML Group Sync mappings for this
            org
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Org namespace not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get the details of all SAML Group Sync mapping within an organization.
      tags:
      - orgs
    post:
      description: Create a new SAML Group Sync mapping within an organization.
      operationId: orgs_saml-group-sync_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/OrgsSaml_group_syncCreate'
        content:
          application/json:
            schema:
              properties:
                idp_key:
                  description: None
                  type: string
                idp_value:
                  description: None
                  type: string
                organization:
                  description: None
                  type: string
                role:
                  description: "\n       User role within the team.\n\n        A `manager`\
                    \ is capable of adding/removing others to/from the team, and\n\
                    \        can set the role of other users and other settings pertaining\
                    \ to the\n        team.\n\n        A 'member' is a normal user\
                    \ that inherits the settings and privileges\n        assigned\
                    \ to the team.\n        "
                  type: string
                team:
                  description: None
                  type: string
              required:
              - idp_key
              - idp_value
              - organization
              - team
              title: OrgsSaml-group-syncCreate
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationGroupSync'
          description: The SAML Group Sync mapping was created
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Org namespace not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new SAML Group Sync mapping within an organization.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/saml-group-sync/{slug_perm}/:
    delete:
      description: Delete a SAML Group Sync mapping from an organization.
      operationId: orgs_saml-group-sync_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Mapping removed successfully
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Delete a SAML Group Sync mapping from an organization.
      tags:
      - orgs
  /orgs/{org}/teams/:
    get:
      description: Get the details of all teams within an organization.
      operationId: orgs_teams_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationTeam'
                title: OrganizationTeamList
                type: array
          description: Retrieved the list of teams within the org
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Org namespace not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get the details of all teams within an organization.
      tags:
      - orgs
    post:
      description: Create a team for this organization.
      operationId: orgs_teams_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/OrgsTeamsCreate'
        content:
          application/json:
            schema:
              example:
                visibility: Visible
                name: name
                description: description
                slug: slug
              properties:
                description:
                  description: None
                  type: string
                name:
                  description: None
                  type: string
                slug:
                  description: None
                  type: string
                visibility:
                  description: None
                  enum:
                  - Visible
                  - Hidden
                  type: string
              required:
              - name
              title: OrgsTeamsCreate
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationTeam'
          description: Team created
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The team cannot be created
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a team for this organization.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/teams/{slug_perm}/:
    delete:
      description: Delete a specific team in a organization.
      operationId: orgs_teams_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted the team successfully
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The team cannot be deleted
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Team not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Delete a specific team in a organization.
      tags:
      - orgs
    get:
      description: Viewset for working with Organization teams.
      operationId: orgs_teams_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationTeam'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Viewset for working with Organization teams.
      tags:
      - orgs
    patch:
      description: Update a specific team in a organization.
      operationId: orgs_teams_partial_update
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/OrgsTeamsPartialUpdate'
        content:
          application/json:
            schema:
              example:
                visibility: Visible
                name: name
                description: description
                slug: slug
              properties:
                description:
                  description: None
                  type: string
                name:
                  description: None
                  type: string
                slug:
                  description: None
                  type: string
                visibility:
                  description: None
                  enum:
                  - Visible
                  - Hidden
                  type: string
              title: OrgsTeamsPartialUpdate
              type: object
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationTeam'
          description: Updated the specified team
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The team cannot be edited
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Team not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Update a specific team in a organization.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/teams/{team}/members:
    get:
      description: List all members for the team.
      operationId: orgs_teams_members_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: team
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationTeamMembers'
          description: Retrieved users for the specified team
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Team not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: List all members for the team.
      tags:
      - orgs
  /packages/{owner}/{repo}/:
    get:
      description: Get a list of all packages associated with repository.
      operationId: packages_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: A search term for querying names, filenames, versions, distributions,
          architectures, formats or statuses of packages.
        in: query
        name: query
        schema:
          type: string
      - description: A field for sorting objects in ascending or descending order.
        in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Package'
                title: PackageList
                type: array
          description: Retrieved the list of packages
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a list of all packages associated with repository.
      tags:
      - packages
  /packages/{owner}/{repo}/upload/alpine/:
    post:
      description: Create a new Alpine package
      operationId: packages_upload_alpine
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadAlpine'
        content:
          application/json:
            schema:
              example:
                republish: true
                distribution: alpine/v3.8
                package_file: a123456789
                tags: tags
              properties:
                distribution:
                  description: The distribution to store the package for.
                  example: alpine/v3.8
                  type: string
                package_file:
                  description: The primary file for the package.
                  example: a123456789
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - distribution
              - package_file
              title: PackagesUploadAlpine
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AlpinePackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new Alpine package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/cargo/:
    post:
      description: Create a new Cargo package
      operationId: packages_upload_cargo
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadCargo'
        content:
          application/json:
            schema:
              example:
                republish: true
                package_file: x123456789a
                tags: tags
              properties:
                package_file:
                  description: The primary file for the package.
                  example: x123456789a
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - package_file
              title: PackagesUploadCargo
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CargoPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new Cargo package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/cocoapods/:
    post:
      description: Create a new CocoaPods package
      operationId: packages_upload_cocoapods
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadCocoapods'
        content:
          application/json:
            schema:
              example:
                republish: true
                package_file: z123456789
                tags: tags
              properties:
                package_file:
                  description: The primary file for the package.
                  example: z123456789
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - package_file
              title: PackagesUploadCocoapods
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CocoapodsPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new CocoaPods package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/composer/:
    post:
      description: Create a new Composer package
      operationId: packages_upload_composer
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadComposer'
        content:
          application/json:
            schema:
              example:
                republish: true
                package_file: y123456789
                tags: tags
              properties:
                package_file:
                  description: The primary file for the package.
                  example: y123456789
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - package_file
              title: PackagesUploadComposer
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ComposerPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new Composer package
[...]
