openapi: 3.0.1
info:
  contact:
    email: support@cloudsmith.io
    name: Cloudsmith Support
    url: https://help.cloudsmith.io
  description: The API to the Cloudsmith Service
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://help.cloudsmith.io
  title: Cloudsmith API (v1)
  version: 1.202.5
servers:
- url: https://api.cloudsmith.io/v1
security:
- apikey: []
- basic: []
paths:
  /audit-log/{owner}/:
    get:
      description: Lists audit log entries for a specific namespace.
      operationId: audit_log_namespace_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: "A search term for querying events, actors, or timestamps of\
          \ log records."
        in: query
        name: query
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NamespaceAuditLog'
                type: array
          description: Retrieved the list of audit log entries
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Audit logs are not active; upgrade your account!
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Lists audit log entries for a specific namespace.
      tags:
      - audit-log
  /audit-log/{owner}/{repo}/:
    get:
      description: Lists audit log entries for a specific repository.
      operationId: audit_log_repo_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: "A search term for querying events, actors, or timestamps of\
          \ log records."
        in: query
        name: query
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RepositoryAuditLog'
                type: array
          description: Retrieved the list of audit log entries
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Audit logs are not active; upgrade your account!
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Lists audit log entries for a specific repository.
      tags:
      - audit-log
  /badges/version/{owner}/{repo}/{package_format}/{package_name}/{package_version}/{package_identifiers}/:
    get:
      description: Get latest package version for a package or package group.
      operationId: badges_version_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: package_format
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        required: true
        schema:
          type: string
      - in: path
        name: package_version
        required: true
        schema:
          type: string
      - in: path
        name: package_identifiers
        required: true
        schema:
          type: string
      - description: Badge token to authenticate for private packages
        in: query
        name: badge_token
        schema:
          type: string
      - description: Override the shields.io badge cacheSeconds value.
        in: query
        name: cacheSeconds
        schema:
          default: "300"
          type: string
      - description: Override the shields.io badge color value.
        in: query
        name: color
        schema:
          default: 12577E
          type: string
      - description: Override the shields.io badge label value.
        in: query
        name: label
        schema:
          default: cloudsmith
          type: string
      - description: Override the shields.io badge labelColor value.
        in: query
        name: labelColor
        schema:
          default: 021F2F
          type: string
      - description: Override the shields.io badge logoColor value.
        in: query
        name: logoColor
        schema:
          default: 45B6EE
          type: string
      - description: Override the shields.io badge logoWidth value.
        in: query
        name: logoWidth
        schema:
          default: "10"
          type: string
      - description: "If true, badge will be rendered"
        in: query
        name: render
        schema:
          default: false
          type: boolean
      - description: "If true, a shields response will be generated"
        in: query
        name: shields
        schema:
          default: false
          type: boolean
      - description: "If true, for latest version badges a '(latest)' suffix is added"
        in: query
        name: show_latest
        schema:
          default: false
          type: boolean
      - description: Override the shields.io badge style value.
        in: query
        name: style
        schema:
          default: flat-square
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageVersionBadge'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get latest package version for a package or package group.
      tags:
      - badges
  /distros/:
    get:
      description: Get a list of all supported distributions.
      operationId: distros_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DistributionFull'
                type: array
          description: Available package formats retrieved
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get a list of all supported distributions.
      tags:
      - distros
  /distros/{slug}/:
    get:
      description: View for viewing/listing distributions.
      operationId: distros_read
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributionFull'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: View for viewing/listing distributions.
      tags:
      - distros
  /entitlements/{owner}/{repo}/:
    get:
      description: Get a list of all entitlements in a repository.
      operationId: entitlements_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          default: false
          type: boolean
      - description: A search term for querying names of entitlements.
        in: query
        name: query
        schema:
          type: string
      - description: "If true, only include active tokens"
        in: query
        name: active
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RepositoryToken'
                type: array
          description: Retrieved the list of entitlement tokens
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Owner namespace or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get a list of all entitlements in a repository.
      tags:
      - entitlements
    post:
      description: Create a specific entitlement in a repository.
      operationId: entitlements_create
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryTokenRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryToken'
          description: Created the specified entitlement
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Owner namespace or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a specific entitlement in a repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/sync/:
    post:
      description: Synchronise tokens from a source repository.
      operationId: entitlements_sync
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryTokenSyncRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryTokenSync'
          description: The tokens have been synchronised from the source repository.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Owner namespace or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Synchronise tokens from a source repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/{identifier}/:
    delete:
      description: Delete a specific entitlement in a repository.
      operationId: entitlements_delete
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Soft-deleted the specified entitlement token successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The entitlement cannot be deleted.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Delete a specific entitlement in a repository.
      tags:
      - entitlements
    get:
      description: Get a specific entitlement in a repository.
      operationId: entitlements_read
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: "If true, entitlement identifiers including name will be fuzzy\
          \ matched."
        in: query
        name: fuzzy
        schema:
          default: false
          type: boolean
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryToken'
          description: Retrieved the specified entitlement
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Couldn't retrieve the specified token because the request contains
            an error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Owner namespace or repository not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get a specific entitlement in a repository.
      tags:
      - entitlements
    patch:
      description: Update a specific entitlement in a repository.
      operationId: entitlements_partial_update
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryTokenRequestPatch'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryToken'
          description: Updated the specified entitlement
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The entitlement cannot be edited.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Owner namespace or repository not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Update a specific entitlement in a repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/{identifier}/disable/:
    post:
      description: Disable an entitlement token in a repository.
      operationId: entitlements_disable
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The entitlement token has been disabled.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Disable an entitlement token in a repository.
      tags:
      - entitlements
  /entitlements/{owner}/{repo}/{identifier}/enable/:
    post:
      description: Enable an entitlement token in a repository.
      operationId: entitlements_enable
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The entitlement token has been enabled.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Enable an entitlement token in a repository.
      tags:
      - entitlements
  /entitlements/{owner}/{repo}/{identifier}/refresh/:
    post:
      description: Refresh an entitlement token in a repository.
      operationId: entitlements_refresh
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryTokenRefreshRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryTokenRefresh'
          description: The entitlement token has been refreshed.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Refresh an entitlement token in a repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/{identifier}/reset/:
    post:
      description: Reset the statistics for an entitlement token in a repository.
      operationId: entitlements_reset
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          default: false
          type: boolean
      responses:
        "204":
          content: {}
          description: The entitlement token statistics have been reset.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Reset the statistics for an entitlement token in a repository.
      tags:
      - entitlements
  /files/{owner}/{repo}/:
    post:
      description: Request URL(s) to upload new package file upload(s) to.
      operationId: files_create
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageFileUploadRequest'
        required: false
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageFileUpload'
          description: The upload request was accepted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Request URL(s) to upload new package file upload(s) to.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/validate/:
    post:
      description: Validate parameters used for create.
      operationId: files_validate
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageFileUploadRequest'
        required: false
      responses:
        "204":
          content: {}
          description: "Validation was successful, parameters are OK."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Validate parameters used for create.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/{identifier}/abort/:
    post:
      description: Abort a multipart file upload.
      operationId: files_abort
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageFileUploadRequest'
        required: false
      responses:
        "204":
          content: {}
          description: The multipart upload was aborted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The multipart upload could not be aborted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: "Namespace (owner), repository or upload file not found"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Abort a multipart file upload.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/{identifier}/complete/:
    post:
      description: Complete a multipart file upload.
      operationId: files_complete
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageFileUploadRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageFileUpload'
          description: The multipart upload was completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The multipart upload could not be completed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: "Namespace (owner), repository or upload file not found"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Complete a multipart file upload.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/{identifier}/info/:
    get:
      description: Get upload information to perform a multipart file upload.
      operationId: files_info
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: The filename of the file being uploaded
        in: query
        name: filename
        required: true
        schema:
          type: string
      - description: The part number to be uploaded next
        in: query
        name: part_number
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageFilePartsUpload'
          description: Information for multipart uploaded retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The provided upload file was not a multipart upload.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: "Namespace (owner), repository or upload file not found"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get upload information to perform a multipart file upload.
      tags:
      - files
  /formats/:
    get:
      description: Get a list of all supported package formats.
      operationId: formats_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Format'
                type: array
          description: Available package formats retrieved
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get a list of all supported package formats.
      tags:
      - formats
  /formats/{slug}/:
    get:
      description: Get a specific supported package format.
      operationId: formats_read
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Format'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get a specific supported package format.
      tags:
      - formats
  /metrics/entitlements/{owner}/:
    get:
      description: "View for listing entitlement token metrics, across an account."
      operationId: metrics_entitlements_account_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Include metrics upto and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: finish
        schema:
          type: string
      - description: Include metrics from and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: start
        schema:
          type: string
      - description: A comma seperated list of tokens (slug perm) to include in the
          results.
        in: query
        name: tokens
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementUsageMetrics'
          description: Retrieved the metrics for entitlements.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: "View for listing entitlement token metrics, across an account."
      tags:
      - metrics
  /metrics/entitlements/{owner}/{repo}/:
    get:
      description: "View for listing entitlement token metrics, for a repository."
      operationId: metrics_entitlements_repo_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Include metrics upto and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: finish
        schema:
          type: string
      - description: Include metrics from and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: start
        schema:
          type: string
      - description: A comma seperated list of tokens (slug perm) to include in the
          results.
        in: query
        name: tokens
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementUsageMetrics'
          description: Retrieved the metrics for entitlements.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: "View for listing entitlement token metrics, for a repository."
      tags:
      - metrics
  /metrics/packages/{owner}/{repo}/:
    get:
      description: "View for listing package usage metrics, for a repository."
      operationId: metrics_packages_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Include metrics upto and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: finish
        schema:
          type: string
      - description: A comma seperated list of packages (slug perm) to include in
          the results.
        in: query
        name: packages
        schema:
          type: string
      - description: Include metrics from and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: start
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageUsageMetrics'
          description: Retrieved the metrics for packages.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: "View for listing package usage metrics, for a repository."
      tags:
      - metrics
  /namespaces/:
    get:
      description: Get a list of all namespaces the user belongs to.
      operationId: namespaces_list
      parameters:
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Namespace'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get a list of all namespaces the user belongs to.
      tags:
      - namespaces
  /namespaces/{slug}/:
    get:
      description: Views for working with namespaces.
      operationId: namespaces_read
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Namespace'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Views for working with namespaces.
      tags:
      - namespaces
  /orgs/:
    get:
      description: Get a list of all the organizations you are associated with.
      operationId: orgs_list
      parameters:
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Organization'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get a list of all the organizations you are associated with.
      tags:
      - orgs
  /orgs/{org}/:
    get:
      description: Get the details for the specific organization.
      operationId: orgs_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get the details for the specific organization.
      tags:
      - orgs
  /orgs/{org}/invites/:
    get:
      description: Get a list of all invites for an organization.
      operationId: orgs_invites_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationInvite'
                type: array
          description: Retrieved the list of organization invites
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Organization invites not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get a list of all invites for an organization.
      tags:
      - orgs
    post:
      description: Create an organization invite for a specific user
      operationId: orgs_invites_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInviteRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvite'
          description: Invite sent
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The invite cannot be created.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create an organization invite for a specific user
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/invites/{slug_perm}/:
    delete:
      description: Delete a specific organization invite
      operationId: orgs_invites_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted the organization invite successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The organization invite cannot be deleted.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Delete a specific organization invite
      tags:
      - orgs
    patch:
      description: Update a specific organization invite.
      operationId: orgs_invites_partial_update
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInviteUpdateRequestPatch'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvite'
          description: Invite updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The invite cannot be updated.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Invite not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Update a specific organization invite.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/invites/{slug_perm}/extend/:
    post:
      description: Extend an organization invite.
      operationId: orgs_invites_extend
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInviteExtend'
          description: The invite has been extended
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Invite not found.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Extend an organization invite.
      tags:
      - orgs
  /orgs/{org}/invites/{slug_perm}/resend/:
    post:
      description: Resend an organization invite.
      operationId: orgs_invites_resend
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInviteExtend'
          description: The invite has been resent
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Invite not found.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Resend an organization invite.
      tags:
      - orgs
  /orgs/{org}/members/:
    get:
      description: Get the details for all organization members.
      operationId: orgs_members_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationMembership'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get the details for all organization members.
      tags:
      - orgs
  /orgs/{org}/members/{member}/:
    delete:
      description: Removes a member from the organization.
      operationId: orgs_members_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: member
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Removed the organization member successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The organization member cannot be deleted.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Removes a member from the organization.
      tags:
      - orgs
    get:
      description: Get the details for a specific organization member.
      operationId: orgs_members_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: member
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get the details for a specific organization member.
      tags:
      - orgs
  /orgs/{org}/members/{member}/remove/:
    get:
      description: "Removes a member from the organization (deprecated, use DELETE\
        \ instead)."
      operationId: orgs_members_remove
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: member
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Removed the organization member successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The organization member cannot be deleted.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: "Removes a member from the organization (deprecated, use DELETE instead)."
      tags:
      - orgs
  /orgs/{org}/saml-group-sync/:
    get:
      description: Get the details of all SAML Group Sync mapping within an organization.
      operationId: orgs_saml-group-sync_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationGroupSync'
                type: array
          description: Retrived the list of all SAML Group Sync mappings for this
            org
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org namespace not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get the details of all SAML Group Sync mapping within an organization.
      tags:
      - orgs
    post:
      description: Create a new SAML Group Sync mapping within an organization.
      operationId: orgs_saml-group-sync_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationGroupSyncRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationGroupSync'
          description: The SAML Group Sync mapping was created.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org namespace not found.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a new SAML Group Sync mapping within an organization.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/saml-group-sync/{slug_perm}/:
    delete:
      description: Delete a SAML Group Sync mapping from an organization.
      operationId: orgs_saml-group-sync_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Mapping removed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Delete a SAML Group Sync mapping from an organization.
      tags:
      - orgs
  /orgs/{org}/services/:
    get:
      description: Get a list of all services within an organization.
      operationId: orgs_services_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Service'
                type: array
          description: Retrieved the list of services within the org
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org namespace not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get a list of all services within an organization.
      tags:
      - orgs
    post:
      description: Create a service within an organization.
      operationId: orgs_services_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Created the service within the org
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org namespace not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a service within an organization.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/services/{service}/:
    delete:
      description: Delete a specific service
      operationId: orgs_services_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: service
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted the service successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The service cannot be deleted.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Delete a specific service
      tags:
      - orgs
    get:
      description: Retrieve details of a single service within an organization.
      operationId: orgs_services_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: service
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Retrieve details of a single service within an organization.
      tags:
      - orgs
    patch:
      description: Update a service within an organization.
      operationId: orgs_services_partial_update
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: service
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestPatch'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Updated the service within the org
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org namespace not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Update a service within an organization.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/services/{service}/refresh/:
    post:
      description: Refresh service API token.
      operationId: orgs_services_refresh
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: service
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Refreshed the service token successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The service token cannot be refreshed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org namespace not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Refresh service API token.
      tags:
      - orgs
  /orgs/{org}/teams/:
    get:
      description: Get the details of all teams within an organization.
      operationId: orgs_teams_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationTeam'
                type: array
          description: Retrieved the list of teams within the org
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org namespace not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get the details of all teams within an organization.
      tags:
      - orgs
    post:
      description: Create a team for this organization.
      operationId: orgs_teams_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationTeamRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTeam'
          description: Team created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The team cannot be created.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a team for this organization.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/teams/{team}/:
    delete:
      description: Delete a specific team in a organization.
      operationId: orgs_teams_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: team
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted the team successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The team cannot be deleted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Team not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Delete a specific team in a organization.
      tags:
      - orgs
    get:
      description: Get the details of a specific team within an organization.
      operationId: orgs_teams_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: team
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTeam'
          description: Retrieved the details of the requested team.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Team not found.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get the details of a specific team within an organization.
      tags:
      - orgs
    patch:
      description: Update a specific team in a organization.
      operationId: orgs_teams_partial_update
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: team
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationTeamRequestPatch'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTeam'
          description: Updated the specified team.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The team cannot be edited.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Team not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Update a specific team in a organization.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/teams/{team}/members:
    get:
      description: List all members for the team.
      operationId: orgs_teams_members_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: team
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTeamMembers'
          description: Retrieved users for the specified team.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Team not found.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: List all members for the team.
      tags:
      - orgs
    post:
      description: Add users to a team.
      operationId: orgs_teams_members_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: team
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationTeamMembers'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTeamMembers'
          description: The users were added to the team.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Team not found.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Add users to a team.
      tags:
      - orgs
      x-codegen-request-body-name: data
    put:
      description: Replace all team members.
      operationId: orgs_teams_members_update
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: team
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTeamMembers'
          description: The team members were replaced.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Team not found.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Replace all team members.
      tags:
      - orgs
  /packages/{owner}/{repo}/:
    get:
      description: Get a list of all packages associated with repository.
      operationId: packages_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: "A search term for querying names, filenames, versions, distributions,\
          \ architectures, formats or statuses of packages."
        in: query
        name: query
        schema:
          type: string
      - description: A field for sorting objects in ascending or descending order.
        in: query
        name: sort
        schema:
          default: -date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Package'
                type: array
          description: Retrieved the list of packages
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Get a list of all packages associated with repository.
      tags:
      - packages
  /packages/{owner}/{repo}/upload/alpine/:
    post:
      description: Create a new Alpine package
      operationId: packages_upload_alpine
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlpinePackageUploadRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlpinePackageUpload'
          description: Upload acknowledged and queued for synchronisation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a new Alpine package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/cargo/:
    post:
      description: Create a new Cargo package
      operationId: packages_upload_cargo
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CargoPackageUploadRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CargoPackageUpload'
          description: Upload acknowledged and queued for synchronisation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a new Cargo package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/cocoapods/:
    post:
      description: Create a new CocoaPods package
      operationId: packages_upload_cocoapods
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CocoapodsPackageUploadRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CocoapodsPackageUpload'
          description: Upload acknowledged and queued for synchronisation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a new CocoaPods package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/composer/:
    post:
      description: Create a new Composer package
      operationId: packages_upload_composer
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComposerPackageUploadRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComposerPackageUpload'
          description: Upload acknowledged and queued for synchronisation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a new Composer package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/conan/:
    post:
      description: Create a new Conan package
      operationId: packages_upload_conan
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConanPackageUploadRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConanPackageUpload'
          description: Upload acknowledged and queued for synchronisation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a new Conan package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/conda/:
    post:
      description: Create a new Conda package
      operationId: packages_upload_conda
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CondaPackageUploadRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CondaPackageUpload'
          description: Upload acknowledged and queued for synchronisation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a new Conda package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/cran/:
    post:
      description: Create a new CRAN package
      operationId: packages_upload_cran
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CranPackageUploadRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CranPackageUpload'
          description: Upload acknowledged and queued for synchronisation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a new CRAN package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/dart/:
    post:
      description: Create a new Dart package
      operationId: packages_upload_dart
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DartPackageUploadRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DartPackageUpload'
          description: Upload acknowledged and queued for synchronisation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a new Dart package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/deb/:
    post:
      description: Create a new Debian package
      operationId: packages_upload_deb
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DebPackageUploadRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DebPackageUpload'
          description: Upload acknowledged and queued for synchronisation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a new Debian package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/docker/:
    post:
      description: Create a new Docker package
      operationId: packages_upload_docker
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DockerPackageUploadRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DockerPackageUpload'
          description: Upload acknowledged and queued for synchronisation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a new Docker package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/go/:
    post:
      description: Create a new Go package
      operationId: packages_upload_go
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoPackageUploadRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoPackageUpload'
          description: Upload acknowledged and queued for synchronisation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      security:
      - apikey: []
      summary: Create a new Go package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/helm/:
    post:
      description: Create a new Helm package
      operationId: packages_upload_helm
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
[...]
