openapi: 3.0.1
info:
  contact:
    email: support@cloudsmith.io
    name: Cloudsmith Support
    url: https://help.cloudsmith.io
  description: The API to the Cloudsmith Service
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://help.cloudsmith.io/docs/terms-and-conditions
  title: Cloudsmith API
  version: 1.42.1
externalDocs:
  description: Find out more info at the Cloudsmith Help Website
  url: https://help.cloudsmith.io
servers:
- url: https://api.cloudsmith.io/v1
paths:
  /badges/version/{owner}/{repo}/{package_format}/{package_name}/{package_version}/{package_identifiers}/:
    get:
      description: Get latest package version for a package or package group.
      operationId: badges_version_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: package_format
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        required: true
        schema:
          type: string
      - in: path
        name: package_version
        required: true
        schema:
          type: string
      - in: path
        name: package_identifiers
        required: true
        schema:
          type: string
      - description: Badge token to authenticate for private packages
        in: query
        name: badge_token
        schema:
          type: string
      - description: Override the shields.io badge cacheSeconds value.
        in: query
        name: cacheSeconds
        schema:
          type: string
      - description: Override the shields.io badge color value.
        in: query
        name: color
        schema:
          type: string
      - description: Override the shields.io badge label value.
        in: query
        name: label
        schema:
          type: string
      - description: Override the shields.io badge labelColor value.
        in: query
        name: labelColor
        schema:
          type: string
      - description: Override the shields.io badge logoColor value.
        in: query
        name: logoColor
        schema:
          type: string
      - description: Override the shields.io badge logoWidth value.
        in: query
        name: logoWidth
        schema:
          type: string
      - description: If true, badge will be rendered
        in: query
        name: render
        schema:
          type: boolean
      - description: If true, a shields response will be generated
        in: query
        name: shields
        schema:
          type: boolean
      - description: If true, for latest version badges a '(latest)' suffix is added
        in: query
        name: show_latest
        schema:
          type: boolean
      - description: Override the shields.io badge style value.
        in: query
        name: style
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get latest package version for a package or package group.
      tags:
      - badges
  /distros/:
    get:
      description: Get a list of all supported distributions.
      operationId: distros_list
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Distribution'
                title: DistributionList
                type: array
          description: Available package formats retrieved
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a list of all supported distributions.
      tags:
      - distros
  /distros/{slug}/:
    get:
      description: View for viewing/listing distributions.
      operationId: distros_read
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Distribution'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: View for viewing/listing distributions.
      tags:
      - distros
  /entitlements/{owner}/{repo}/:
    get:
      description: Get a list of all entitlements in a repository.
      operationId: entitlements_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/RepositoryToken'
                title: RepositoryTokenList
                type: array
          description: Retrieved the list of entitlement tokens
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Owner namespace or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a list of all entitlements in a repository.
      tags:
      - entitlements
    post:
      description: Create a specific entitlement in a repository.
      operationId: entitlements_create
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          type: boolean
      requestBody:
        $ref: '#/components/requestBodies/EntitlementsCreate'
        content:
          application/json:
            schema:
              example:
                limit_date_range_to: limit_date_range_to
                metadata: '{}'
                is_active: true
                limit_bandwidth_unit: limit_bandwidth_unit
                scheduled_reset_at: scheduled_reset_at
                limit_bandwidth: 0
                limit_num_clients: 6
                limit_package_query: limit_package_query
                limit_path_query: limit_path_query
                token: token
                name: name
                limit_date_range_from: limit_date_range_from
                limit_num_downloads: 1
                eula_required: true
                scheduled_reset_period: scheduled_reset_period
              properties:
                eula_required:
                  description: If checked, a EULA acceptance is required for this
                    token.
                  type: boolean
                is_active:
                  description: If enabled, the token will allow downloads based on
                    configured restrictions (if any).
                  type: boolean
                limit_bandwidth:
                  description: 'The maximum download bandwidth allowed for the token.
                    Values are expressed as the selected unit of bandwidth. Please
                    note that since downloads are calculated asynchronously (after
                    the download happens), the limit may not be imposed immediately
                    but at a later point. '
                  type: integer
                limit_bandwidth_unit:
                  description: None
                  type: string
                limit_date_range_from:
                  description: The starting date/time the token is allowed to be used
                    from.
                  type: string
                limit_date_range_to:
                  description: The ending date/time the token is allowed to be used
                    until.
                  type: string
                limit_num_clients:
                  description: The maximum number of unique clients allowed for the
                    token. Please note that since clients are calculated asynchronously
                    (after the download happens), the limit may not be imposed immediately
                    but at a later point.
                  type: integer
                limit_num_downloads:
                  description: The maximum number of downloads allowed for the token.
                    Please note that since downloads are calculated asynchronously
                    (after the download happens), the limit may not be imposed immediately
                    but at a later point.
                  type: integer
                limit_package_query:
                  description: The package-based search query to apply to restrict
                    downloads to. This uses the same syntax as the standard search
                    used for repositories, and also supports boolean logic operators
                    such as OR/AND/NOT and parentheses for grouping. This will still
                    allow access to non-package files, such as metadata.
                  type: string
                limit_path_query:
                  description: The path-based search query to apply to restrict downloads
                    to. This supports boolean logic operators such as OR/AND/NOT and
                    parentheses for grouping. The path evaluated does not include
                    the domain name, the namespace, the entitlement code used, the
                    package format, etc. and it always starts with a forward slash.
                  type: string
                metadata:
                  description: None
                  properties: {}
                  type: object
                name:
                  description: None
                  type: string
                scheduled_reset_at:
                  description: The time at which the scheduled reset period has elapsed
                    and the token limits were automatically reset to zero.
                  type: string
                scheduled_reset_period:
                  description: None
                  type: string
                token:
                  description: None
                  type: string
              required:
              - name
              title: EntitlementsCreate
              type: object
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepositoryToken'
          description: Created the specified entitlement
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Owner namespace or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a specific entitlement in a repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/sync/:
    post:
      description: Synchronise tokens from a source repository.
      operationId: entitlements_sync
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          type: boolean
      requestBody:
        $ref: '#/components/requestBodies/EntitlementsSync'
        content:
          application/json:
            schema:
              example:
                source: source
              properties:
                source:
                  description: The source repository slug (in the same owner namespace).
                  type: string
              required:
              - source
              title: EntitlementsSync
              type: object
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepositoryTokenSync'
          description: The tokens have been synchronised from the source repository
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Owner namespace or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Synchronise tokens from a source repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/{identifier}/:
    delete:
      description: Delete a specific entitlement in a repository.
      operationId: entitlements_delete
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Soft-deleted the specified entitlement token successfully
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The entitlement cannot be deleted
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Delete a specific entitlement in a repository.
      tags:
      - entitlements
    get:
      description: Get a specific entitlement in a repository.
      operationId: entitlements_read
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepositoryToken'
          description: Retrieved the specified entitlement
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Owner namespace or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a specific entitlement in a repository.
      tags:
      - entitlements
    patch:
      description: Update a specific entitlement in a repository.
      operationId: entitlements_partial_update
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          type: boolean
      requestBody:
        $ref: '#/components/requestBodies/EntitlementsPartialUpdate'
        content:
          application/json:
            schema:
              example:
                limit_date_range_to: limit_date_range_to
                metadata: '{}'
                is_active: true
                limit_bandwidth_unit: limit_bandwidth_unit
                scheduled_reset_at: scheduled_reset_at
                limit_bandwidth: 0
                limit_num_clients: 6
                limit_package_query: limit_package_query
                limit_path_query: limit_path_query
                token: token
                name: name
                limit_date_range_from: limit_date_range_from
                limit_num_downloads: 1
                eula_required: true
                scheduled_reset_period: scheduled_reset_period
              properties:
                eula_required:
                  description: If checked, a EULA acceptance is required for this
                    token.
                  type: boolean
                is_active:
                  description: If enabled, the token will allow downloads based on
                    configured restrictions (if any).
                  type: boolean
                limit_bandwidth:
                  description: 'The maximum download bandwidth allowed for the token.
                    Values are expressed as the selected unit of bandwidth. Please
                    note that since downloads are calculated asynchronously (after
                    the download happens), the limit may not be imposed immediately
                    but at a later point. '
                  type: integer
                limit_bandwidth_unit:
                  description: None
                  type: string
                limit_date_range_from:
                  description: The starting date/time the token is allowed to be used
                    from.
                  type: string
                limit_date_range_to:
                  description: The ending date/time the token is allowed to be used
                    until.
                  type: string
                limit_num_clients:
                  description: The maximum number of unique clients allowed for the
                    token. Please note that since clients are calculated asynchronously
                    (after the download happens), the limit may not be imposed immediately
                    but at a later point.
                  type: integer
                limit_num_downloads:
                  description: The maximum number of downloads allowed for the token.
                    Please note that since downloads are calculated asynchronously
                    (after the download happens), the limit may not be imposed immediately
                    but at a later point.
                  type: integer
                limit_package_query:
                  description: The package-based search query to apply to restrict
                    downloads to. This uses the same syntax as the standard search
                    used for repositories, and also supports boolean logic operators
                    such as OR/AND/NOT and parentheses for grouping. This will still
                    allow access to non-package files, such as metadata.
                  type: string
                limit_path_query:
                  description: The path-based search query to apply to restrict downloads
                    to. This supports boolean logic operators such as OR/AND/NOT and
                    parentheses for grouping. The path evaluated does not include
                    the domain name, the namespace, the entitlement code used, the
                    package format, etc. and it always starts with a forward slash.
                  type: string
                metadata:
                  description: None
                  properties: {}
                  type: object
                name:
                  description: None
                  type: string
                scheduled_reset_at:
                  description: The time at which the scheduled reset period has elapsed
                    and the token limits were automatically reset to zero.
                  type: string
                scheduled_reset_period:
                  description: None
                  type: string
                token:
                  description: None
                  type: string
              title: EntitlementsPartialUpdate
              type: object
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepositoryToken'
          description: Updated the specified entitlement
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The entitlement cannot be edited
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Owner namespace or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Update a specific entitlement in a repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/{identifier}/disable/:
    post:
      description: Disable an entitlement token in a repository.
      operationId: entitlements_disable
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The entitlement token has been disabled
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Disable an entitlement token in a repository.
      tags:
      - entitlements
  /entitlements/{owner}/{repo}/{identifier}/enable/:
    post:
      description: Enable an entitlement token in a repository.
      operationId: entitlements_enable
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The entitlement token has been enabled
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Enable an entitlement token in a repository.
      tags:
      - entitlements
  /entitlements/{owner}/{repo}/{identifier}/refresh/:
    post:
      description: Refresh an entitlement token in a repository.
      operationId: entitlements_refresh
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          type: boolean
      requestBody:
        $ref: '#/components/requestBodies/EntitlementsRefresh'
        content:
          application/json:
            schema:
              example:
                limit_date_range_to: limit_date_range_to
                metadata: '{}'
                is_active: true
                limit_bandwidth_unit: limit_bandwidth_unit
                scheduled_reset_at: scheduled_reset_at
                limit_bandwidth: 0
                limit_num_clients: 6
                limit_package_query: limit_package_query
                limit_path_query: limit_path_query
                token: token
                limit_date_range_from: limit_date_range_from
                limit_num_downloads: 1
                eula_required: true
                scheduled_reset_period: scheduled_reset_period
              properties:
                eula_required:
                  description: If checked, a EULA acceptance is required for this
                    token.
                  type: boolean
                is_active:
                  description: If enabled, the token will allow downloads based on
                    configured restrictions (if any).
                  type: boolean
                limit_bandwidth:
                  description: 'The maximum download bandwidth allowed for the token.
                    Values are expressed as the selected unit of bandwidth. Please
                    note that since downloads are calculated asynchronously (after
                    the download happens), the limit may not be imposed immediately
                    but at a later point. '
                  type: integer
                limit_bandwidth_unit:
                  description: None
                  type: string
                limit_date_range_from:
                  description: The starting date/time the token is allowed to be used
                    from.
                  type: string
                limit_date_range_to:
                  description: The ending date/time the token is allowed to be used
                    until.
                  type: string
                limit_num_clients:
                  description: The maximum number of unique clients allowed for the
                    token. Please note that since clients are calculated asynchronously
                    (after the download happens), the limit may not be imposed immediately
                    but at a later point.
                  type: integer
                limit_num_downloads:
                  description: The maximum number of downloads allowed for the token.
                    Please note that since downloads are calculated asynchronously
                    (after the download happens), the limit may not be imposed immediately
                    but at a later point.
                  type: integer
                limit_package_query:
                  description: The package-based search query to apply to restrict
                    downloads to. This uses the same syntax as the standard search
                    used for repositories, and also supports boolean logic operators
                    such as OR/AND/NOT and parentheses for grouping. This will still
                    allow access to non-package files, such as metadata.
                  type: string
                limit_path_query:
                  description: The path-based search query to apply to restrict downloads
                    to. This supports boolean logic operators such as OR/AND/NOT and
                    parentheses for grouping. The path evaluated does not include
                    the domain name, the namespace, the entitlement code used, the
                    package format, etc. and it always starts with a forward slash.
                  type: string
                metadata:
                  description: None
                  properties: {}
                  type: object
                scheduled_reset_at:
                  description: The time at which the scheduled reset period has elapsed
                    and the token limits were automatically reset to zero.
                  type: string
                scheduled_reset_period:
                  description: None
                  type: string
                token:
                  description: None
                  type: string
              title: EntitlementsRefresh
              type: object
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepositoryTokenRefresh'
          description: The entitlement token has been refreshed
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Refresh an entitlement token in a repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/{identifier}/reset/:
    post:
      description: Reset the statistics for an entitlement token in a repository.
      operationId: entitlements_reset
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          type: boolean
      responses:
        "204":
          content: {}
          description: The entitlement token statistics have been reset
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Reset the statistics for an entitlement token in a repository.
      tags:
      - entitlements
  /files/{owner}/{repo}/:
    post:
      description: Request URL(s) to upload new package file upload(s) to.
      operationId: files_create
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/FilesCreate'
        content:
          application/json:
            schema:
              example:
                sha256_checksum: sha256_checksum
                filename: filename
                method: method
                md5_checksum: md5_checksum
              properties:
                filename:
                  description: Filename for the package file upload.
                  type: string
                md5_checksum:
                  description: MD5 checksum for a POST-based package file upload.
                  type: string
                method:
                  description: The method to use for package file upload.
                  type: string
                sha256_checksum:
                  description: SHA256 checksum for a PUT-based package file upload.
                  type: string
              required:
              - filename
              title: FilesCreate
              type: object
        required: false
      responses:
        "202":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PackageFileUpload'
          description: The upload request was accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Request URL(s) to upload new package file upload(s) to.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/validate/:
    post:
      description: Validate parameters used for create.
      operationId: files_validate
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/FilesValidate'
        content:
          application/json:
            schema:
              example:
                sha256_checksum: sha256_checksum
                filename: filename
                method: method
                md5_checksum: md5_checksum
              properties:
                filename:
                  description: Filename for the package file upload.
                  type: string
                md5_checksum:
                  description: MD5 checksum for a POST-based package file upload.
                  type: string
                method:
                  description: The method to use for package file upload.
                  type: string
                sha256_checksum:
                  description: SHA256 checksum for a PUT-based package file upload.
                  type: string
              required:
              - filename
              title: FilesValidate
              type: object
        required: false
      responses:
        "204":
          content: {}
          description: Validation was successful, parameters are OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Validate parameters used for create.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/{identifier}/abort/:
    post:
      description: Abort a multipart file upload.
      operationId: files_abort
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/FilesAbort'
        content:
          application/json:
            schema:
              example:
                sha256_checksum: sha256_checksum
                filename: filename
                method: method
                md5_checksum: md5_checksum
              properties:
                filename:
                  description: Filename for the package file upload.
                  type: string
                md5_checksum:
                  description: MD5 checksum for a POST-based package file upload.
                  type: string
                method:
                  description: The method to use for package file upload.
                  type: string
                sha256_checksum:
                  description: SHA256 checksum for a PUT-based package file upload.
                  type: string
              required:
              - filename
              title: FilesAbort
              type: object
        required: false
      responses:
        "204":
          content: {}
          description: The multipart upload was aborted successfully
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The multipart upload could not be aborted
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner), repository or upload file not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Abort a multipart file upload.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/{identifier}/complete/:
    post:
      description: Complete a multipart file upload.
      operationId: files_complete
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/FilesComplete'
        content:
          application/json:
            schema:
              example:
                sha256_checksum: sha256_checksum
                filename: filename
                method: method
                md5_checksum: md5_checksum
              properties:
                filename:
                  description: Filename for the package file upload.
                  type: string
                md5_checksum:
                  description: MD5 checksum for a POST-based package file upload.
                  type: string
                method:
                  description: The method to use for package file upload.
                  type: string
                sha256_checksum:
                  description: SHA256 checksum for a PUT-based package file upload.
                  type: string
              required:
              - filename
              title: FilesComplete
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PackageFileUpload'
          description: The multipart upload was completed successfully
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The multipart upload could not be completed
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner), repository or upload file not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Complete a multipart file upload.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/{identifier}/info/:
    get:
      description: Get upload information for a multipart file upload.
      operationId: files_info
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PackageFilePartsUpload'
          description: Information for multipart uploaded retrieved successfully
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: The provided upload file was not a multipart upload
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner), repository or upload file not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get upload information for a multipart file upload.
      tags:
      - files
  /formats/:
    get:
      description: Get a list of all supported package formats.
      operationId: formats_list
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Format'
                title: FormatList
                type: array
          description: Available package formats retrieved
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a list of all supported package formats.
      tags:
      - formats
  /formats/{slug}/:
    get:
      description: Get a specific supported package format.
      operationId: formats_read
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Format'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a specific supported package format.
      tags:
      - formats
  /metrics/entitlements/{owner}/:
    get:
      description: View for listing entitlement token metrics, across an account.
      operationId: metrics_entitlements_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Include metrics upto and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: finish
        schema:
          type: string
      - description: Include metrics from and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: start
        schema:
          type: string
      - description: A comma seperated list of tokens (slug perm) to include in the
          results.
        in: query
        name: tokens
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntitlementUsageMetrics'
          description: Retrieved the metrics for entitlements
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: View for listing entitlement token metrics, across an account.
      tags:
      - metrics
  /metrics/entitlements/{owner}/{repo}/:
    get:
      description: View for listing entitlement token metrics, for a repository.
      operationId: metrics_entitlements_list_0
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Include metrics upto and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: finish
        schema:
          type: string
      - description: Include metrics from and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: start
        schema:
          type: string
      - description: A comma seperated list of tokens (slug perm) to include in the
          results.
        in: query
        name: tokens
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntitlementUsageMetrics'
          description: Retrieved the metrics for entitlements
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: View for listing entitlement token metrics, for a repository.
      tags:
      - metrics
  /metrics/packages/{owner}/{repo}/:
    get:
      description: View for listing package usage metrics, for a repository.
      operationId: metrics_packages_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Include metrics upto and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: finish
        schema:
          type: string
      - description: A comma seperated list of packages (slug perm) to include in
          the results.
        in: query
        name: packages
        schema:
          type: string
      - description: Include metrics from and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: start
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PackageUsageMetrics'
          description: Retrieved the metrics for packages
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: View for listing package usage metrics, for a repository.
      tags:
      - metrics
  /namespaces/:
    get:
      description: Get a list of all namespaces the user belongs to.
      operationId: namespaces_list
      parameters:
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Namespace'
                title: NamespaceList
                type: array
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a list of all namespaces the user belongs to.
      tags:
      - namespaces
  /namespaces/{slug}/:
    get:
      description: Views for working with namespaces.
      operationId: namespaces_read
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Namespace'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Views for working with namespaces.
      tags:
      - namespaces
  /orgs/:
    get:
      description: Get a list of all the organizations you are associated with.
      operationId: orgs_list
      parameters:
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Organization'
                title: OrganizationList
                type: array
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a list of all the organizations you are associated with.
      tags:
      - orgs
  /orgs/{org}/:
    get:
      description: Get the details for the specific organization.
      operationId: orgs_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Organization'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get the details for the specific organization.
      tags:
      - orgs
  /orgs/{org}/members/:
    get:
      description: Get the details for all organization members.
      operationId: orgs_members_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationMembership'
                title: OrganizationMembershipList
                type: array
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get the details for all organization members.
      tags:
      - orgs
  /orgs/{org}/members/{member}/:
    get:
      description: Get the details for a specific organization member.
      operationId: orgs_members_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: member
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get the details for a specific organization member.
      tags:
      - orgs
  /orgs/{org}/members/{member}/remove/:
    get:
      description: Removes a member from the organization.
      operationId: orgs_members_remove
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: member
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Removes a member from the organization.
      tags:
      - orgs
  /packages/{owner}/{repo}/:
    get:
      description: Get a list of all packages associated with repository.
      operationId: packages_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: A search term for querying names, filenames, versions, distributions,
          architectures, formats or statuses of packages.
        in: query
        name: query
        schema:
          type: string
      - description: A field for sorting objects in ascending or descending order.
        in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Package'
                title: PackageList
                type: array
          description: Retrieved the list of packages
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Get a list of all packages associated with repository.
      tags:
      - packages
  /packages/{owner}/{repo}/upload/alpine/:
    post:
      description: Create a new Alpine package
      operationId: packages_upload_alpine
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadAlpine'
        content:
          application/json:
            schema:
              example:
                republish: true
                distribution: alpine/v3.8
                package_file: a123456789
                tags: tags
              properties:
                distribution:
                  description: The distribution to store the package for.
                  example: alpine/v3.8
                  type: string
                package_file:
                  description: The primary file for the package.
                  example: a123456789
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - distribution
              - package_file
              title: PackagesUploadAlpine
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AlpinePackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new Alpine package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/cargo/:
    post:
      description: Create a new Cargo package
      operationId: packages_upload_cargo
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadCargo'
        content:
          application/json:
            schema:
              example:
                republish: true
                package_file: x123456789a
                tags: tags
              properties:
                package_file:
                  description: The primary file for the package.
                  example: x123456789a
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - package_file
              title: PackagesUploadCargo
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CargoPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new Cargo package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/cocoapods/:
    post:
      description: Create a new CocoaPods package
      operationId: packages_upload_cocoapods
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadCocoapods'
        content:
          application/json:
            schema:
              example:
                republish: true
                package_file: z123456789
                tags: tags
              properties:
                package_file:
                  description: The primary file for the package.
                  example: z123456789
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - package_file
              title: PackagesUploadCocoapods
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CocoapodsPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new CocoaPods package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/composer/:
    post:
      description: Create a new Composer package
      operationId: packages_upload_composer
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadComposer'
        content:
          application/json:
            schema:
              example:
                republish: true
                package_file: y123456789
                tags: tags
              properties:
                package_file:
                  description: The primary file for the package.
                  example: y123456789
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - package_file
              title: PackagesUploadComposer
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ComposerPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new Composer package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/conan/:
    post:
      description: Create a new Conan package
      operationId: packages_upload_conan
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadConan'
        content:
          application/json:
            schema:
              example:
                republish: true
                name: conan_package.tgz
                metadata_file: y1234456789a
                package_file: x123456789a
                conan_prefix: my-repository
                version: 1.0.0
                conan_channel: alpha
                info_file: y1234456789b
                manifest_file: y1234456789c
                tags: tags
              properties:
                conan_channel:
                  description: Conan channel.
                  example: alpha
                  type: string
                conan_prefix:
                  description: Conan prefix (User).
                  example: my-repository
                  type: string
                info_file:
                  description: The info file is an python file containing the package
                    metadata.
                  example: y1234456789b
                  type: string
                manifest_file:
                  description: The info file is an python file containing the package
                    metadata.
                  example: y1234456789c
                  type: string
                metadata_file:
                  description: The conan file is an python file containing the package
                    metadata.
                  example: y1234456789a
                  type: string
                name:
                  description: The name of this package.
                  example: conan_package.tgz
                  type: string
                package_file:
                  description: The primary file for the package.
                  example: x123456789a
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
                version:
                  description: The raw version for this package.
                  example: 1.0.0
                  type: string
              required:
              - info_file
              - manifest_file
              - metadata_file
              - package_file
              title: PackagesUploadConan
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConanPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new Conan package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/conda/:
    post:
      description: Create a new Conda package
      operationId: packages_upload_conda
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadConda'
        content:
          application/json:
            schema:
              example:
                republish: true
                package_file: x123456789a
                tags: tags
              properties:
                package_file:
                  description: The primary file for the package.
                  example: x123456789a
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - package_file
              title: PackagesUploadConda
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CondaPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new Conda package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/cran/:
    post:
      description: Create a new CRAN package
      operationId: packages_upload_cran
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadCran'
        content:
          application/json:
            schema:
              example:
                republish: true
                package_file: x123456789a
                tags: tags
              properties:
                package_file:
                  description: The primary file for the package.
                  example: x123456789a
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - package_file
              title: PackagesUploadCran
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CranPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new CRAN package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/dart/:
    post:
      description: Create a new Dart package
      operationId: packages_upload_dart
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadDart'
        content:
          application/json:
            schema:
              example:
                republish: true
                package_file: x123456789a
                tags: tags
              properties:
                package_file:
                  description: The primary file for the package.
                  example: x123456789a
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - package_file
              title: PackagesUploadDart
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DartPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new Dart package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/deb/:
    post:
      description: Create a new Debian package
      operationId: packages_upload_deb
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadDeb'
        content:
          application/json:
            schema:
              example:
                sources_file: y123456789
                republish: true
                changes_file: y123456789
                distribution: ubuntu/xenial
                package_file: y123456789
                tags: tags
              properties:
                changes_file:
                  description: The changes archive containing the changes made to
                    the source and debian packaging files
                  example: y123456789
                  type: string
                distribution:
                  description: The distribution to store the package for.
                  example: ubuntu/xenial
                  type: string
                package_file:
                  description: The primary file for the package.
                  example: y123456789
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                sources_file:
                  description: The sources archive containing the source code for
                    the binary
                  example: y123456789
                  type: string
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - distribution
              - package_file
              title: PackagesUploadDeb
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DebPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new Debian package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/docker/:
    post:
      description: Create a new Docker package
      operationId: packages_upload_docker
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadDocker'
        content:
          application/json:
            schema:
              example:
                republish: true
                package_file: y123456789
                tags: tags
              properties:
                package_file:
                  description: The primary file for the package.
                  example: y123456789
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - package_file
              title: PackagesUploadDocker
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DockerPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new Docker package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/go/:
    post:
      description: Create a new Go package
      operationId: packages_upload_go
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadGo'
        content:
          application/json:
            schema:
              example:
                republish: true
                package_file: x123456789a
                tags: tags
              properties:
                package_file:
                  description: The primary file for the package.
                  example: x123456789a
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - package_file
              title: PackagesUploadGo
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new Go package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/helm/:
    post:
      description: Create a new Helm package
      operationId: packages_upload_helm
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadHelm'
        content:
          application/json:
            schema:
              example:
                republish: true
                package_file: x123456789a
                tags: tags
              properties:
                package_file:
                  description: The primary file for the package.
                  example: x123456789a
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - package_file
              title: PackagesUploadHelm
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HelmPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new Helm package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/luarocks/:
    post:
      description: Create a new LuaRocks package
      operationId: packages_upload_luarocks
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadLuarocks'
        content:
          application/json:
            schema:
              example:
                republish: true
                package_file: x123456789a
                tags: tags
              properties:
                package_file:
                  description: The primary file for the package.
                  example: x123456789a
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
              required:
              - package_file
              title: PackagesUploadLuarocks
              type: object
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LuarocksPackageUpload'
          description: Upload acknowledged and queued for synchronisation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Request could not be processed (see detail)
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Namespace (owner) or repository not found
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
          description: Missing or invalid parameters (see detail)
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      summary: Create a new LuaRocks package
      tags:
      - packages
      x-codegen-request-body-name: data
  /packages/{owner}/{repo}/upload/maven/:
    post:
      description: Create a new Maven package
      operationId: packages_upload_maven
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PackagesUploadMaven'
        content:
          application/json:
            schema:
              example:
                sources_file: y1234456789d
                tests_file: y1234456789e
                republish: true
                group_id: io.cloudsmith.example
                javadoc_file: y1234456789c
                packaging: packaging
                artifact_id: cloudsmith-example
                package_file: y1234456789a
                version: version
                pom_file: y1234456789b
                tags: tags
              properties:
                artifact_id:
                  description: The ID of the artifact.
                  example: cloudsmith-example
                  type: string
                group_id:
                  description: Artifact's group ID.
                  example: io.cloudsmith.example
                  type: string
                javadoc_file:
                  description: Adds bundled Java documentation to the Maven package
                  example: y1234456789c
                  type: string
                package_file:
                  description: The primary file for the package.
                  example: y1234456789a
                  type: string
                packaging:
                  description: Artifact's Maven packaging type.
                  type: string
                pom_file:
                  description: The POM file is an XML file containing the Maven coordinates.
                  example: y1234456789b
                  type: string
                republish:
                  description: If true, the uploaded package will overwrite any others
                    with the same attributes (e.g. same version); otherwise, it will
                    be flagged as a duplicate.
                  type: boolean
                sources_file:
                  description: Adds bundled Java source code to the Maven package.
                  example: y1234456789d
                  type: string
                tags:
                  description: A comma-separated values list of tags to add to the
                    package.
                  type: string
                tests_file:
                  description: Adds bundled Java tests to the Maven package.
                  example: y1234456789e
                  type: string
                version:
                  description: The raw version for this package.
                  type: string
              required:
              - package_file
[...]
