openapi: 3.0.1
info:
  contact:
    email: support@cloudsmith.io
    name: Cloudsmith Support
    url: https://help.cloudsmith.io
  description: The API to the Cloudsmith Service
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://help.cloudsmith.io
  title: Cloudsmith API (v1)
  version: 1.568.8
servers:
- url: https://api.cloudsmith.io/v1
security:
- apikey: []
- basic: []
paths:
  /audit-log/{owner}/:
    get:
      description: Lists audit log entries for a specific namespace.
      operationId: audit_log_namespace_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: "A search term for querying events, actors, or timestamps of\
          \ log records."
        in: query
        name: query
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NamespaceAuditLog'
                type: array
          description: Retrieved the list of audit log entries
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Audit logs are not active; upgrade your account!
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Lists audit log entries for a specific namespace.
      tags:
      - audit-log
  /audit-log/{owner}/{repo}/:
    get:
      description: Lists audit log entries for a specific repository.
      operationId: audit_log_repo_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: "A search term for querying events, actors, or timestamps of\
          \ log records."
        in: query
        name: query
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RepositoryAuditLog'
                type: array
          description: Retrieved the list of audit log entries
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Audit logs are not active; upgrade your account!
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Lists audit log entries for a specific repository.
      tags:
      - audit-log
  /badges/version/{owner}/{repo}/{package_format}/{package_name}/{package_version}/{package_identifiers}/:
    get:
      description: Get latest package version for a package or package group.
      operationId: badges_version_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: package_format
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        required: true
        schema:
          type: string
      - in: path
        name: package_version
        required: true
        schema:
          type: string
      - in: path
        name: package_identifiers
        required: true
        schema:
          type: string
      - description: Badge token to authenticate for private packages
        in: query
        name: badge_token
        schema:
          type: string
      - description: Override the shields.io badge cacheSeconds value.
        in: query
        name: cacheSeconds
        schema:
          default: "300"
          type: string
      - description: Override the shields.io badge color value.
        in: query
        name: color
        schema:
          default: 12577E
          type: string
      - description: Override the shields.io badge label value.
        in: query
        name: label
        schema:
          default: cloudsmith
          type: string
      - description: Override the shields.io badge labelColor value.
        in: query
        name: labelColor
        schema:
          default: 021F2F
          type: string
      - description: Override the shields.io badge logoColor value.
        in: query
        name: logoColor
        schema:
          default: 45B6EE
          type: string
      - description: Override the shields.io badge logoWidth value.
        in: query
        name: logoWidth
        schema:
          default: "10"
          type: string
      - description: "If true, badge will be rendered"
        in: query
        name: render
        schema:
          default: false
          type: boolean
      - description: "If true, a shields response will be generated"
        in: query
        name: shields
        schema:
          default: false
          type: boolean
      - description: "If true, for latest version badges a '(latest)' suffix is added"
        in: query
        name: show_latest
        schema:
          default: false
          type: boolean
      - description: Override the shields.io badge style value.
        in: query
        name: style
        schema:
          default: flat-square
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageVersionBadge'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get latest package version for a package or package group.
      tags:
      - badges
  /distros/:
    get:
      description: Get a list of all supported distributions.
      operationId: distros_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DistributionFull'
                type: array
          description: Available package formats retrieved
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get a list of all supported distributions.
      tags:
      - distros
  /distros/{slug}/:
    get:
      description: View for viewing/listing distributions.
      operationId: distros_read
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributionFull'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: View for viewing/listing distributions.
      tags:
      - distros
  /entitlements/{owner}/{repo}/:
    get:
      description: Get a list of all entitlements in a repository.
      operationId: entitlements_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          default: false
          type: boolean
      - description: A search term for querying names of entitlements.
        in: query
        name: query
        schema:
          type: string
      - description: "If true, only include active tokens"
        in: query
        name: active
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RepositoryToken'
                type: array
          description: Retrieved the list of entitlement tokens
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Owner namespace or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get a list of all entitlements in a repository.
      tags:
      - entitlements
    post:
      description: Create a specific entitlement in a repository.
      operationId: entitlements_create
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryTokenRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryToken'
          description: Created the specified entitlement
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Owner namespace or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Create a specific entitlement in a repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/sync/:
    post:
      description: Synchronise tokens from a source repository.
      operationId: entitlements_sync
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryTokenSyncRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryTokenSync'
          description: The tokens have been synchronised from the source repository.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Owner namespace or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Synchronise tokens from a source repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/{identifier}/:
    delete:
      description: Delete a specific entitlement in a repository.
      operationId: entitlements_delete
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Soft-deleted the specified entitlement token successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The entitlement cannot be deleted.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Delete a specific entitlement in a repository.
      tags:
      - entitlements
    get:
      description: Get a specific entitlement in a repository.
      operationId: entitlements_read
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: "If true, entitlement identifiers including name will be fuzzy\
          \ matched."
        in: query
        name: fuzzy
        schema:
          default: false
          type: boolean
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryToken'
          description: Retrieved the specified entitlement
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Couldn't retrieve the specified token because the request contains
            an error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Owner namespace or repository not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get a specific entitlement in a repository.
      tags:
      - entitlements
    patch:
      description: Update a specific entitlement in a repository.
      operationId: entitlements_partial_update
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryTokenRequestPatch'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryToken'
          description: Updated the specified entitlement
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The entitlement cannot be edited.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Owner namespace or repository not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Update a specific entitlement in a repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/{identifier}/disable/:
    post:
      description: Disable an entitlement token in a repository.
      operationId: entitlements_disable
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The entitlement token has been disabled.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Disable an entitlement token in a repository.
      tags:
      - entitlements
  /entitlements/{owner}/{repo}/{identifier}/enable/:
    post:
      description: Enable an entitlement token in a repository.
      operationId: entitlements_enable
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The entitlement token has been enabled.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Enable an entitlement token in a repository.
      tags:
      - entitlements
  /entitlements/{owner}/{repo}/{identifier}/refresh/:
    post:
      description: Refresh an entitlement token in a repository.
      operationId: entitlements_refresh
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryTokenRefreshRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryTokenRefresh'
          description: The entitlement token has been refreshed.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Refresh an entitlement token in a repository.
      tags:
      - entitlements
      x-codegen-request-body-name: data
  /entitlements/{owner}/{repo}/{identifier}/reset/:
    post:
      description: Reset the statistics for an entitlement token in a repository.
      operationId: entitlements_reset
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: Show entitlement token strings in results
        in: query
        name: show_tokens
        schema:
          default: false
          type: boolean
      responses:
        "204":
          content: {}
          description: The entitlement token statistics have been reset.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Reset the statistics for an entitlement token in a repository.
      tags:
      - entitlements
  /files/{owner}/{repo}/:
    post:
      description: Request URL(s) to upload new package file upload(s) to.
      operationId: files_create
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageFileUploadRequest'
        required: false
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageFileUpload'
          description: The upload request was accepted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Request URL(s) to upload new package file upload(s) to.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/validate/:
    post:
      description: Validate parameters used for create.
      operationId: files_validate
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageFileUploadRequest'
        required: false
      responses:
        "204":
          content: {}
          description: "Validation was successful, parameters are OK."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Namespace (owner) or repository not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Validate parameters used for create.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/{identifier}/abort/:
    post:
      description: Abort a multipart file upload.
      operationId: files_abort
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageFileUploadRequest'
        required: false
      responses:
        "204":
          content: {}
          description: The multipart upload was aborted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The multipart upload could not be aborted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: "Namespace (owner), repository or upload file not found"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Abort a multipart file upload.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/{identifier}/complete/:
    post:
      description: Complete a multipart file upload.
      operationId: files_complete
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageFileUploadRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageFileUpload'
          description: The multipart upload was completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The multipart upload could not be completed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: "Namespace (owner), repository or upload file not found"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Complete a multipart file upload.
      tags:
      - files
      x-codegen-request-body-name: data
  /files/{owner}/{repo}/{identifier}/info/:
    get:
      description: Get upload information to perform a multipart file upload.
      operationId: files_info
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - in: path
        name: identifier
        required: true
        schema:
          type: string
      - description: The filename of the file being uploaded
        in: query
        name: filename
        required: true
        schema:
          type: string
      - description: The part number to be uploaded next
        in: query
        name: part_number
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageFilePartsUpload'
          description: Information for multipart uploaded retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The provided upload file was not a multipart upload.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: "Namespace (owner), repository or upload file not found"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get upload information to perform a multipart file upload.
      tags:
      - files
  /formats/:
    get:
      description: Get a list of all supported package formats.
      operationId: formats_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Format'
                type: array
          description: Available package formats retrieved
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get a list of all supported package formats.
      tags:
      - formats
  /formats/{slug}/:
    get:
      description: Get a specific supported package format.
      operationId: formats_read
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Format'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get a specific supported package format.
      tags:
      - formats
  /metrics/entitlements/{owner}/:
    get:
      description: "View for listing entitlement token metrics, across an account."
      operationId: metrics_entitlements_account_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Include metrics upto and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: finish
        schema:
          type: string
      - description: Include metrics from and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: start
        schema:
          type: string
      - description: A comma seperated list of tokens (slug perm) to include in the
          results.
        in: query
        name: tokens
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementUsageMetrics'
          description: Retrieved the metrics for entitlements.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: "View for listing entitlement token metrics, across an account."
      tags:
      - metrics
  /metrics/entitlements/{owner}/{repo}/:
    get:
      description: "View for listing entitlement token metrics, for a repository."
      operationId: metrics_entitlements_repo_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Include metrics upto and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: finish
        schema:
          type: string
      - description: Include metrics from and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: start
        schema:
          type: string
      - description: A comma seperated list of tokens (slug perm) to include in the
          results.
        in: query
        name: tokens
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementUsageMetrics'
          description: Retrieved the metrics for entitlements.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: "View for listing entitlement token metrics, for a repository."
      tags:
      - metrics
  /metrics/packages/{owner}/{repo}/:
    get:
      description: "View for listing package usage metrics, for a repository."
      operationId: metrics_packages_list
      parameters:
      - in: path
        name: owner
        required: true
        schema:
          type: string
      - in: path
        name: repo
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Include metrics upto and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: finish
        schema:
          type: string
      - description: A comma seperated list of packages (slug perm) to include in
          the results.
        in: query
        name: packages
        schema:
          type: string
      - description: Include metrics from and including this UTC date or UTC datetime.
          For example '2020-12-31' or '2021-12-13T00:00:00Z'.
        in: query
        name: start
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageUsageMetrics'
          description: Retrieved the metrics for packages.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: "View for listing package usage metrics, for a repository."
      tags:
      - metrics
  /namespaces/:
    get:
      description: Get a list of all namespaces the user belongs to.
      operationId: namespaces_list
      parameters:
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Namespace'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get a list of all namespaces the user belongs to.
      tags:
      - namespaces
  /namespaces/{slug}/:
    get:
      description: Get a specific namespace that the user belongs to.
      operationId: namespaces_read
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Namespace'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get a specific namespace that the user belongs to.
      tags:
      - namespaces
  /orgs/:
    get:
      description: Get a list of all the organizations you are associated with.
      operationId: orgs_list
      parameters:
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Organization'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get a list of all the organizations you are associated with.
      tags:
      - orgs
  /orgs/{org}/:
    delete:
      description: Delete the specified organization.
      operationId: orgs_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Delete the specified organization.
      tags:
      - orgs
    get:
      description: Get the details for the specific organization.
      operationId: orgs_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get the details for the specific organization.
      tags:
      - orgs
  /orgs/{org}/deny-policy/:
    get:
      description: Get a list of all package deny policies.
      operationId: orgs_deny-policy_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PackageDenyPolicy'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get a list of all package deny policies.
      tags:
      - orgs
    post:
      description: Create a package deny policy.
      operationId: orgs_deny-policy_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageDenyPolicyRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDenyPolicy'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Create a package deny policy.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/deny-policy/{slug_perm}/:
    delete:
      description: Delete a package deny policy.
      operationId: orgs_deny-policy_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Delete a package deny policy.
      tags:
      - orgs
    get:
      description: Get a package deny policy.
      operationId: orgs_deny-policy_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDenyPolicy'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get a package deny policy.
      tags:
      - orgs
    patch:
      description: Partially update a package deny policy.
      operationId: orgs_deny-policy_partial_update
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageDenyPolicyRequestPatch'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDenyPolicy'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Partially update a package deny policy.
      tags:
      - orgs
      x-codegen-request-body-name: data
    put:
      description: Update a package deny policy.
      operationId: orgs_deny-policy_update
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageDenyPolicyRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDenyPolicy'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Update a package deny policy.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/invites/:
    get:
      description: Get a list of all invites for an organization.
      operationId: orgs_invites_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationInvite'
                type: array
          description: Retrieved the list of organization invites
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Organization invites not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get a list of all invites for an organization.
      tags:
      - orgs
    post:
      description: Create an organization invite for a specific user
      operationId: orgs_invites_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInviteRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvite'
          description: Invite sent
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The invite cannot be created.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Create an organization invite for a specific user
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/invites/{slug_perm}/:
    delete:
      description: Delete a specific organization invite
      operationId: orgs_invites_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted the organization invite successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The organization invite cannot be deleted.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Delete a specific organization invite
      tags:
      - orgs
    patch:
      description: Update a specific organization invite.
      operationId: orgs_invites_partial_update
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInviteUpdateRequestPatch'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvite'
          description: Invite updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The invite cannot be updated.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Invite not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Update a specific organization invite.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/invites/{slug_perm}/extend/:
    post:
      description: Extend an organization invite.
      operationId: orgs_invites_extend
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInviteExtend'
          description: The invite has been extended
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Invite not found.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Extend an organization invite.
      tags:
      - orgs
  /orgs/{org}/invites/{slug_perm}/resend/:
    post:
      description: Resend an organization invite.
      operationId: orgs_invites_resend
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInviteExtend'
          description: The invite has been resent
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Invite not found.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Resend an organization invite.
      tags:
      - orgs
  /orgs/{org}/license-policy-violation/:
    get:
      description: List all current license policy violations for this Organization.
      operationId: orgs_license-policy-violation_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: The pagination cursor value.
        in: query
        name: cursor
        schema:
          type: string
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageLicensePolicyViolationLogCursorPage'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: List all current license policy violations for this Organization.
      tags:
      - orgs
  /orgs/{org}/license-policy/:
    get:
      description: Get a list of all package license policies.
      operationId: orgs_license-policy_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationPackageLicensePolicy'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get a list of all package license policies.
      tags:
      - orgs
    post:
      description: Create a package license policy.
      operationId: orgs_license-policy_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationPackageLicensePolicyRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationPackageLicensePolicy'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Create a package license policy.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/license-policy/{policy_slug_perm}/evaluation/:
    get:
      description: List evaluation requests for this policy.
      operationId: orgs_license-policy_evaluation_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: policy_slug_perm
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PackageLicensePolicyEvaluationRequest'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: List evaluation requests for this policy.
      tags:
      - orgs
    post:
      description: Create an evaluation request for this policy.
      operationId: orgs_license-policy_evaluation_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: policy_slug_perm
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageLicensePolicyEvaluationRequestRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageLicensePolicyEvaluationRequest'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Create an evaluation request for this policy.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/license-policy/{policy_slug_perm}/evaluation/{slug_perm}/:
    get:
      description: Retrieve an evaluation request for this policy.
      operationId: orgs_license-policy_evaluation_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: policy_slug_perm
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageLicensePolicyEvaluationRequest'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Retrieve an evaluation request for this policy.
      tags:
      - orgs
  /orgs/{org}/license-policy/{slug_perm}/:
    delete:
      description: Delete a package license policy.
      operationId: orgs_license-policy_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Delete a package license policy.
      tags:
      - orgs
    get:
      description: Get a package license policy.
      operationId: orgs_license-policy_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationPackageLicensePolicy'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get a package license policy.
      tags:
      - orgs
    patch:
      description: Partially update a package license policy.
      operationId: orgs_license-policy_partial_update
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationPackageLicensePolicyRequestPatch'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationPackageLicensePolicy'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Partially update a package license policy.
      tags:
      - orgs
      x-codegen-request-body-name: data
    put:
      description: Update a package license policy.
      operationId: orgs_license-policy_update
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationPackageLicensePolicyRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationPackageLicensePolicy'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Update a package license policy.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/members/:
    get:
      description: Get the details for all organization members.
      operationId: orgs_members_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Filter for active/inactive users.
        in: query
        name: is_active
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationMembership'
                type: array
          description: Retrieved the list of organization's members
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get the details for all organization members.
      tags:
      - orgs
  /orgs/{org}/members/{member}/:
    delete:
      description: Removes a member from the organization.
      operationId: orgs_members_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: member
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Removed the organization member successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The organization member cannot be deleted.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Removes a member from the organization.
      tags:
      - orgs
    get:
      description: Get the details for a specific organization member.
      operationId: orgs_members_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: member
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get the details for a specific organization member.
      tags:
      - orgs
  /orgs/{org}/members/{member}/refresh/:
    post:
      description: Refresh a member of the organization's API key.
      operationId: orgs_members_refresh
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: member
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Org member API key has been refreshed.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The org member's API key cannot be refreshed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org member not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Refresh a member of the organization's API key.
      tags:
      - orgs
  /orgs/{org}/members/{member}/remove/:
    get:
      description: "Removes a member from the organization (deprecated, use DELETE\
        \ instead)."
      operationId: orgs_members_remove
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: member
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Removed the organization member successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The organization member cannot be deleted.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: "Removes a member from the organization (deprecated, use DELETE instead)."
      tags:
      - orgs
  /orgs/{org}/openid-connect/:
    get:
      description: Retrieve the list of OpenID Connect provider settings for the org.
      operationId: orgs_openid-connect_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProviderSettings'
                type: array
          description: Retrieved the list of OpenID Connect provider settings for
            the org
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Organization not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Retrieve the list of OpenID Connect provider settings for the org.
      tags:
      - orgs
    post:
      description: Create the OpenID Connect provider settings for the org.
      operationId: orgs_openid-connect_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderSettingsRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderSettings'
          description: Created the OpenID Connect provider settings for the org
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Organization not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Create the OpenID Connect provider settings for the org.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/openid-connect/{slug_perm}/:
    delete:
      description: Delete a specific OpenID Connect provider setting for the org.
      operationId: orgs_openid-connect_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted the specified OpenID Connect provider setting successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: The specified OpenID Connect provider setting cannot be deleted.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Delete a specific OpenID Connect provider setting for the org.
      tags:
      - orgs
    get:
      description: Retrieve a specific OpenID Connect provider setting for the org.
      operationId: orgs_openid-connect_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderSettings'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Retrieve a specific OpenID Connect provider setting for the org.
      tags:
      - orgs
    patch:
      description: Update a specific OpenID Connect provider setting for the org.
      operationId: orgs_openid-connect_partial_update
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderSettingsRequestPatch'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderSettings'
          description: Updated the specified OpenID Connect provider setting for the
            org
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Organization not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Update a specific OpenID Connect provider setting for the org.
      tags:
      - orgs
      x-codegen-request-body-name: data
    put:
      description: Update a specific OpenID Connect provider setting for the org.
      operationId: orgs_openid-connect_update
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderSettingsRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderSettings'
          description: Updated the specified OpenID Connect provider setting for the
            org
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Organization not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Update a specific OpenID Connect provider setting for the org.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/saml-authentication:
    get:
      description: Retrieve the SAML Authentication settings for this Organization.
      operationId: orgs_saml-authentication_read
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSAMLAuth'
          description: Retrieved the SAML Authentication settings.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: SAML Authentication is not available; please upgrade your account!
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Organization not found.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Retrieve the SAML Authentication settings for this Organization.
      tags:
      - orgs
    patch:
      description: Update the SAML Authentication settings for this Organization.
      operationId: orgs_saml-authentication_partial_update
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationSAMLAuthRequestPatch'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSAMLAuth'
          description: Updated the SAML Authentication settings.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: SAML Authentication is not available; please upgrade your account!
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Organization not found.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Update the SAML Authentication settings for this Organization.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/saml-group-sync/:
    get:
      description: Get the details of all SAML Group Sync mapping within an organization.
      operationId: orgs_saml-group-sync_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationGroupSync'
                type: array
          description: Retrieved the list of all SAML Group Sync mappings for this
            org
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org namespace not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get the details of all SAML Group Sync mapping within an organization.
      tags:
      - orgs
    post:
      description: Create a new SAML Group Sync mapping within an organization.
      operationId: orgs_saml-group-sync_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationGroupSyncRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationGroupSync'
          description: The SAML Group Sync mapping was created.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org namespace not found.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Create a new SAML Group Sync mapping within an organization.
      tags:
      - orgs
      x-codegen-request-body-name: data
  /orgs/{org}/saml-group-sync/disable/:
    post:
      description: Disable SAML Group Sync for this organization.
      operationId: orgs_saml-group-sync_disable
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: SAML Group Sync has been disabled for this organization.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org namespace not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Disable SAML Group Sync for this organization.
      tags:
      - orgs
  /orgs/{org}/saml-group-sync/enable/:
    post:
      description: Enable SAML Group Sync for this organization.
      operationId: orgs_saml-group-sync_enable
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: SAML Group Sync has been enabled for this organization.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org namespace not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Enable SAML Group Sync for this organization.
      tags:
      - orgs
  /orgs/{org}/saml-group-sync/status/:
    get:
      description: Retrieve the SAML Group Sync status for this organization.
      operationId: orgs_saml-group-sync_status
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationGroupSyncStatus'
          description: Retrieved the SAML Group Sync status for this organization.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org namespace not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Retrieve the SAML Group Sync status for this organization.
      tags:
      - orgs
  /orgs/{org}/saml-group-sync/{slug_perm}/:
    delete:
      description: Delete a SAML Group Sync mapping from an organization.
      operationId: orgs_saml-group-sync_delete
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - in: path
        name: slug_perm
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Mapping removed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Delete a SAML Group Sync mapping from an organization.
      tags:
      - orgs
  /orgs/{org}/services/:
    get:
      description: Get a list of all services within an organization.
      operationId: orgs_services_list
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Service'
                type: array
          description: Retrieved the list of services within the org
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org namespace not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Get a list of all services within an organization.
      tags:
      - orgs
    post:
      description: Create a service within an organization.
      operationId: orgs_services_create
      parameters:
      - in: path
        name: org
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Created the service within the org
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Org namespace not found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Request could not be processed (see detail).
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
          description: Missing or invalid parameters (see detail).
      summary: Create a service within an organization.
      tags:
      - orgs
      x-codegen-request-body-name: data
[...]
